<div>
  <h1 class="about-h1">Politique en matière de cookies</h1>
  <p>Veuillez lire attentivement cette politique en matière de cookies car elle contient des informations
    importantes sur qui nous sommes et comment nous utilisons les cookies sur nos sites web.La présente politique doit être lue conjointement avec notre politique de confidentialité, qui définit comment et pourquoi nous collectons, stockons, utilisons et partageons les informations personnelles en général, ainsi que vos droits concernant vos informations personnelles et les détails sur la manière de nous contacter et de contacter les autorités de surveillance en cas de plainte.
  </p>
  <h2>Qui sommes nous ?</h2>
  <p>Ce site Web est exploité par Suntory Beverage &amp; Food France, qui fait partie du groupe Suntory Beverage
    &amp; Food Europe.</p>
  <h2>Notre site web</h2>
  <p>Notre site Web peut contenir des liens vers d'autres sites Web détenus et exploités par des tiers de confiance
    afin de mettre à votre disposition des produits et services supplémentaires. Ces autres sites Web tiers peuvent
    également utiliser des cookies ou des technologies similaires conformément à leurs propres politiques
    distinctes. Pour toute information relative à la confidentialité de ces sites Web tiers, veuillez consulter
    leurs politiques respectives.</p>
  <h2>Cookies</h2>
  <p>Un cookie est un petit fichier texte qui est placé sur votre appareil (ordinateur, smartphone ou autre appareil
    électronique) lorsque vous utilisez notre site web. Nous utilisons des cookies sur notre site web pour nous
    aider à vous reconnaître, vous et votre appareil, et à stocker certaines informations sur vos préférences ou vos
    actions passées afin que vous puissiez profiter d'une meilleure expérience en ligne. Par exemple, nous pouvons contrôler le nombre de fois où vous visitez le site web, les pages que vous consultez, les données de trafic, les données de localisation et le nom de domaine d'origine de votre fournisseur d'accès à Internet. Ces informations nous aident à établir un profil de nos utilisateurs. Certaines de ces données seront agrégées ou statistiques, ce qui signifie que nous ne serons pas en mesure de vous identifier individuellement.
  </p>
  <h2>Consentement à l'utilisation de cookies et modification des paramètres </h2>
  <p>Nous vous demanderons votre autorisation <strong>(Consentement)</strong> pour placer des cookies ou d'autres
    technologies similaires sur votre appareil, sauf s'ils sont essentiels pour nous permettre de vous fournir un
    service que vous avez demandé. Ces cookies essentiels seront toujours activés car notre site web ne fonctionnera
    pas correctement sans eux.</p>
  <h2>Quels types de cookies utilisons-nous ?</h2>
  <p>1 - Les cookies techniques strictement nécessaires au fonctionnement de notre Site. Ces cookies ne concernent
    que le fonctionnement de notre Site et ne requièrent pas votre consentement préalable pour être déposés sur
    votre terminal.</p>

  <p><b>Nom du cookie : </b>PHPSESSID</p>

  <p><b>Categorie de cookies : </b>Cookies de
    session</p>

  <p><b>Finalite(s) : </b>Utilisé pour établir une session utilisateur et pour transmettre des données
    d'état via un cookie temporaire.</p>

  <p>2 - Les cookies de tiers d'analyse et de mesure d'audience
    :Ces cookies permettent de collecter des informations sur votre utilisation de notre Site pour nous permettre d'améliorer nos services et contenus proposés (par exemple, le nombre d’utilisateurs, les pages les plus souvent consultées, les horaires de consultation du site).Ces cookies requièrent votre consentement préalable avant d'être déposés sur votre terminal.
  </p>

  <p><b>Nom et source du cookie : </b>_ga_1T5GM8DJFE Google Analytics <a
    href="https://policies.google.com/privacy?hl=fr" target="_blank">https://policies.google.com/privacy?hl=fr</a></p>

  <p> <b>Categorie de cookies : </b>Cookies
    d'analyses et de mesure d'audience.</p>

  <p> <b>Finalite(s) : </b>Google Analytics collecte votre adresse IP et des
    informations relatives à votre utilisation de notre site web (fréquence, pages visitées) pour générer des
    données statistiques sur la façon dont vous utilisez notre Site et nous permettant d'améliorer nos services et
    contenus.</p>

  <p><b>Nom et source du cookie : </b>_ga Event GA Store <a href="https://policies.google.com/privacy?hl=fr"
                                                            target="_blank">https://policies.google.com/privacy?hl=fr</a></p>

  <p><b>Categorie de cookies : </b>Cookies de
    mesure d'audience.</p>

  <p><b>Finalite(s) : </b>Cookies pour mesurer votre activité sur notre Site (fréquence, pages
    visitées) .</p>

  <h2>Comment désactiver tous les cookies et les conséquences d'une telle désactivation ? </h2>
  <p>Si vous ne souhaitez pas accepter de cookies, vous pouvez modifier les paramètres de votre navigateur afin que
    les cookies (y compris ceux qui sont essentiels aux services demandés) ne soient pas acceptés. Si vous faites
    cela, sachez que vous risquez de perdre certaines fonctionnalités de notre site web. Pour révoquer votre
    consentement aux cookies non essentiels du Jeu à secouer (d'analyses et de mesure d’audience) <a
      class="cookieTrigger">cliquez ICI</a> pour faire réapparaitre le bandeau de consentement aux cookies et
    cliquez sur NON.</p>
  <h2>Comment nous contacter</h2>
  <p>Veuillez nous contacter à l'adresse <a href="mailto:gdpr.info@ttt.com">gdpr.info@suntory.com</a> si vous
    avez des questions sur cette politique en matière de cookies ou sur les informations que nous détenons à votre
    sujet.</p>
  <h2>Modifications de la présente politique</h2>
  <p>Nous pouvons modifier cette politique de temps à autre, lorsque des changements sont apportés à la manière dont
    nous exploitons notre site web.</p>
</div>
