<div class="">
  <h1 class="about-h1">Conditions générales d'utilisation</h1>
  <p>Le présent document constitue les conditions générales d’utilisation du site accessible sous
    l’adresse « lejeuasecouer. com » (ci-après le « Site
    »). La navigation sur le Site ainsi que son utilisation entraînent votre adhésion aux présentes
    conditions d’utilisation ainsi que le respect des dispositions légales qui y sont applicables. L’éditeur
    du Site se réserve le droit de modifier à tout moment et sans préavis le Site et/ou les présentes conditions
    d’utilisation du Site et vous invite par conséquent à en prendre régulièrement connaissance. Toute
    modification entrera en vigueur à compter de sa mise en ligne sur le Site et s’appliquera immédiatement, sans
    formalité aucune, aux connexions au Site, en cours ou à venir. </p>
  <h2>Article 1 – Principes généraux</h2>
  <p>Les présentes Conditions Générales d’Utilisation du Site (ci-après « Conditions générales d’utilisation »)
    ont pour objet de définir les conditions d’accès et d’utilisation du Site. Est défini comme
    Utilisateur (ci-après l’« Utilisateur ») toute personne se connectant au Site. Les présentes
    Conditions générales d’utilisation s’appliquent, en tant que de besoin, à toute déclinaison ou extension du
    Site sur les réseaux sociaux et/ou communautaires existants ou à venir. Toute connexion au Site et/ou
    son utilisation implique l'acceptation pleine et entière des Conditions générales d'utilisation par les
    Utilisateurs. Ces Conditions générales d'utilisation sont susceptibles d'être modifiées ou complétées à tout
    moment et sans préavis, les Utilisateurs du Site sont donc invités à les consulter de manière régulière. Les
    Utilisateurs seront supposés avoir approuvé les présentes Conditions générales d’Utilisation et toutes les
    modifications en poursuivant leur navigation sur le Site. Toutefois, nonobstant ce qui précède, toute
    modification significative des Conditions générales d’utilisation sera soumise à l’Utilisateur qui devra les
    accepter afin de continuer à accéder au Site.
  </p>
  <h2>Article 2 – Conditions d'accès au Site</h2>
  <p>Le Site est uniquement accessible par Internet. Pour cela, l’Utilisateur doit disposer : </p>
  <ul>
    <li>d’un smartphone et/ou une tablette ; le jeu ne sera pas accessible depuis un ordinateur</li>
    <li>d’un navigateur Internet compatible à jour des dernières versions</li>
  </ul>
  <p>L’Utilisateur s’engage à accéder au Site en utilisant un matériel répondant aux exigences de configuration
    ci-dessus décrites et ne contenant pas de virus. L’Utilisateur est seul responsable de la mise à jour et de
    la configuration de ses appareils électroniques, pour lui permettre d’accéder au Site. L’Utilisateur
    est informé que le coût de l’accès et de la navigation sur le Site est à sa charge exclusive. Tous
    matériels et logiciels nécessaires à l’accès et à l’utilisation du Site restent exclusivement à la charge de
    l’Utilisateur qui est donc seul responsable du bon fonctionnement de son équipement ainsi que de son accès à
    Internet. Il lui appartient ainsi de prendre toutes mesures appropriées de façon à protéger ses propres
    données, systèmes informatiques et/ou logiciel de la contamination par d’éventuels virus. L’Utilisateur
    est seul responsable de l’utilisation qu’il fait du Site. </p>
  <h2>Article 3 – Utilisation du Site</h2>
  <p>Le Site permet à l’Utilisateur de participer gratuitement au jeu organisé par l’Editeur. Voir les modalités
    du jeu et les conditions de participation dans le règlement du jeu disponible à l’onglet : Règlement de
    jeu. Le Site est exclusivement destiné aux Utilisateurs agissant à des fins personnelles et non
    commerciales. L’Utilisateur ne peut en aucun cas, sans que cette liste ne soit limitative, modifier,
    copier, distribuer, transmettre, télécharger, émettre, afficher, reproduire, éditer, publier, délivrer une
    licence, créer des travaux dérivés, transférer ou vendre des informations, éléments ou services du Site,
    sous quelque forme que ce soit. </p>
  <h2>Article 4 - Disponibilité du Site</h2>
  <p>En complément des stipulations de l’article 4 « Responsabilités » ci-après, l’accès au Site est soumis aux
    dispositions suivantes. L’Editeur fera son possible afin de permettre l’accès au Site par les
    Utilisateurs, gratuitement, 24 heures sur 24, 7 jours sur 7 sauf en cas de force majeure et/ou de tout
    évènement indépendant de la volonté de l’Editeur et sous réserve des éventuelles pannes et interventions de
    maintenance ou de contrôle nécessaires au bon fonctionnement du Site. L’Utilisateur reconnaît et
    accepte que l’Editeur ne soit pas responsable des conséquences éventuelles qui peuvent en découler pour
    l’Utilisateur. En tout état de cause, l’Editeur ne peut garantir une disponibilité du Site une
    fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. </p>
  <h2>Article 5 - Comportement des Utilisateurs</h2>
  <p>Les Utilisateurs du Site s'engagent de manière générale à se conformer aux lois et règlements en vigueur en
    France, à respecter les droits des tiers et les dispositions des présentes Conditions générales
    d'utilisation. A ce titre, les Utilisateurs s'engagent à se comporter de façon loyale. L'Utilisateur
    s'engage en particulier, et sans que cette liste soit limitative, à ne pas : </p>

  <ul>
    <li>Diffamer, abuser, harceler, traquer, menacer ou encore violer les droits des membres du Site ou de tiers ;
    </li>
    <li>Utiliser le Site à des fins professionnelles ou commerciales, c'est-à-dire promouvoir ou proposer de
      vendre ou d'acheter des biens ou des services ;
    </li>
    <li>Restreindre ou empêcher un autre utilisateur d'utiliser ou de jouir des services proposés par le Site ;
    </li>
    <li>Récolter ou collecter des informations et données personnelles relatives aux autres utilisateurs telles
      qu'un nom de famille, une adresse électronique ou postale, un numéro de téléphone ou un mot de passe ;
    </li>
    <li>Violer une quelconque loi, réglementation en vigueur en France ou les présentes conditions d'utilisation ;
    </li>
    <li>Créer une fausse identité, ou usurper l'identité d'une personne ou d'une entité ;</li>
    <li>Utiliser ou fournir (gratuitement ou non) à une personne ou une entité, le répertoire des utilisateurs
      du Site ou d'autres utilisateurs ou des informations les concernant ;
    </li>
  </ul>
  <p>Tout manquement aux obligations ainsi définies constitue un manquement grave pouvant entraîner des
    poursuites judiciaires. </p>
  <p>Les membres et visiteurs du Site peuvent signaler à la société de gestion du Jeu tout comportement ou
    contenu préjudiciable par demande écrite envoyée à : <i>ThéTipTop, 18 rue Léon Frot, 75011, Paris</i></p>

  <p>L’Hébergeur fera de son mieux pour supprimer promptement un contenu illicite dès qu'il en a connaissance et
    sans que cela ne puisse entrainer sa responsabilité. L’Hébergeur pourra refuser de diffuser et/ou
    retirer des informations et/ou contenus du Site, en tout ou partie, s'il le juge nécessaire. </p>
  <h2>Article 6 – Responsabilité</h2>
  <h3>6.1 Responsabilité de l’Utilisateur</h3>
  <p>L’Utilisateur s’engage à ne pas entraver le bon fonctionnement du Site de quelque manière que ce soit, à ne
    pas transmettre tout élément susceptible de contenir un virus ou autre élément susceptible d'endommager,
    d'intercepter, d'interférer tout ou partie du Site. L'Utilisateur du Site est responsable des
    dommages de toute nature, matériels ou immatériels consécutifs ou non, directs ou indirects, causés à
    lui-même ainsi qu’à tout tiers, y compris à l’Editeur, du fait de l'utilisation ou de l'exploitation
    illicite du Site et/ou de l'un de ses éléments, quels que soient la cause et le lieu de survenance de ces
    dommages, et garantit l’Editeur des conséquences des réclamations ou actions dont il pourrait ou ses
    personnels, de ce fait, faire l'objet.
  </p>
  <h3>6.2 Responsabilité de l’Editeur</h3>
  <p>Les informations communiquées sur le Site sont fournies à titre indicatif, elles sont non contractuelles et
    ne sauraient engager la responsabilité de l’Editeur. L’Editeur se réserve également le droit, à tout
    moment et sans préavis, d'apporter des améliorations et/ou modifications au Site. L’Editeur se réserve le
    droit de corriger à tout moment et dès qu’elle en a eu connaissance, toutes erreurs, notamment techniques ou
    typographiques pouvant affecter les informations ou documents du Site. </p>

  <ul>
    <li>les dommages de toute nature, directs ou indirects, résultant de l'utilisation du Site par
      l’Utilisateur, et notamment toute perte d'exploitation, perte financière ou commerciale, perte de
      programmes et/ou de données en particulier dans le système d'information de l'Utilisateur du Site;
    </li>
    <li>les dommages de toute nature, directs ou indirects, résultant du contenu du Site ;</li>
    <li>l'impossibilité d'accéder au Site et/ou à l'un des sites Internet de l’Editeur lui étant liés ;</li>
    <li>les omissions et/ou erreurs que pourrait contenir le Site.</li>
  </ul>

  <h2>Article 7 – Propriété intellectuelle</h2>
  <p>L'intégralité du Site est protégée par les législations françaises et internationales relatives à la
    propriété intellectuelle. Tous les droits de reproduction, d’adaptation et de représentation sont réservés,
    y compris pour les documents téléchargeables. L'ensemble des textes, graphismes, icônes, photographies,
    plans, logos, vidéos, sons, marques (. . . ) et plus généralement l'ensemble des contenus et services du
    Site et des éléments composant le Site lui-même ne peuvent, conformément aux dispositions du Code de la propriété
    intellectuelle, faire l'objet d'une quelconque représentation ou reproduction ou adaptation, intégrale ou
    partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable de l’Editeur ou de ses
    partenaires. Le non-respect de cette interdiction constitue un acte de contrefaçon pouvant engager la
    responsabilité civile et/ou pénale de son auteur. L’Editeur se réserve le droit d'engager des poursuites
    judiciaires à l'encontre de toute personne qui n'aurait pas respecté cette interdiction. De même, il
    est strictement interdit d'utiliser ou de reproduire les noms et les marques de l’Editeur ou de ses
    partenaires, et/ou leurs logos, seuls ou associés, à quelque titre que ce soit et sur quelque support que ce
    soit sans l'accord préalable et écrit de l’Editeur. Les Utilisateurs du Site, et de ses sites
    Internet liés, ne peuvent reproduire de contenus (textes, photos, vidéos, sons, animations, etc. ) sans
    l'autorisation expresse et préalable de l’Editeur.</p>
  <h2>Article 8 – Dispositions diverses</h2>
  <p>Si une partie quelconque des stipulations des présentes Conditions générales d’utilisation devait s'avérer
    illégale, invalide ou inapplicable pour quelque raison que ce soit, le terme ou les termes en question
    seraient déclarés inexistants et les termes restants garderaient toute leur force et leur portée et
    continueraient à être applicables. Les termes déclarés inexistants sont remplacés par un (des) termes
    qui se rapprocheront le plus quant à son contenu de la clause annulée. Même s'il est accessible
    depuis l'étranger, ce Site et son contenu sont strictement destinés à l'usage des Utilisateurs résidant sur
    les territoires français métropolitains et outre-mer, belge et néerlandais . Les présentes Conditions
    générales d’utilisation sont soumises à la loi française.</p>
</div>
