<div class="row gutters-sm">

    <div class="col-md-12">
      <div class="card bg-light">
        <div class="card-body">

          <div id="account">
            <h6 class="text-uppercase">Modifer vos informations</h6>
            <hr>
            <form>
              <div class="form-group">
                <label for="fullName">Nom et Prénom</label>
                <input aria-describedby="fullNameHelp" class="form-control" id="fullName" placeholder="Nom et Prénom"
                       type="text" value="Marjorie Dubois">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" placeholder="Email" type="text"
                       value="marjorie.dubois@gmail.com">
              </div>
              <div class="form-group">
                <label for="number">Téléphone</label>
                <input class="form-control" id="number" placeholder="Téléphone" type="text"
                       value="0625256547">
              </div>
              <div class="form-group">
                <label for="location">Adresse</label>
                <input class="form-control" id="location" placeholder="Adresse" type="text"
                       value="24 rue des Soulliers, 7500, Paris">
              </div>
              <button class="btn btn-primary" type="button">Modifier</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

