#profile__page .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 3rem;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

#profile__page .nav-tabs {
  border-bottom: 0;
}

#profile__page .nav-tabs li {
  width: 100% !important;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #profile__page .nav-tabs li {
    width: 23% !important;
  }

  #profile__page .nav-tabs li a {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


