#profile__page .nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 3rem;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

#profile__page .nav-tabs {
  border-bottom: 0;
}

#profile__page .nav-tabs li {
  width: 100% !important;
}
.page-title {
  font-weight: 800 !important;
  letter-spacing: 3px;
}

.page-title__ligne {
  height: 5px;
  background: #683C11;
  border: 0;
  width: 90px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #profile__page .nav-tabs li {
    width: 30% !important;
  }

  #profile__page .nav-tabs li a {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


