<div class="modal-header">
  <h4 class="modal-title">Réclamation</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="reclamerForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <p>Votre Lot "{{lotName}}" sera livré cette addresse suivante :</p>

    <div *ngIf="!wantToChangeAddress" class="text-bold">
      <!-- Add here User Adresse from API -->
      <p class="text-bold">
        {{address}}
        <br>
        {{additionalAddress}}
        <br>
        {{postalCode}}, {{ville}}
      </p>
    </div>

    <div *ngIf="showForm">
      <div class="form-group">
        <label for="fullName">Nom et Prénom</label>
        <input aria-describedby="fullNameHelp"
               formControlName="name"
               class="form-control"
               id="fullName"
               placeholder="Nom et Prénom"
               type="text">
        <div *ngIf="isFormSubmitted && form.name.errors?.required"
             [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
             class="invalid-feedback">
          Requis
        </div>
      </div>

      <div class="form-group">
        <label for="number">Téléphone</label>
        <input class="form-control"
               formControlName="telephone"
               id="number"
               placeholder="Téléphone"
               type="text">
        <div *ngIf="isFormSubmitted && form.telephone.errors"
             [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
             class="invalid-feedback">
          <span *ngIf="form.telephone.status">Champs invalide</span>
          <span *ngIf="form.telephone.errors?.required"> | Requis</span>
        </div>
      </div>

      <div class="form-group">
        <label>Adresse</label>
        <input class="form-control"
               formControlName="address"
               placeholder="Adresse"
               type="text">
        <div *ngIf="isFormSubmitted && form.address.errors?.required"
             [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
             class="invalid-feedback">
          Requis
        </div>
      </div>

      <div class="form-group">
        <label>Complément d'addresse</label>
        <input class="form-control"
               formControlName="complement_address"
               placeholder="Complément d'addresse"
               type="text">
        <div *ngIf="isFormSubmitted && form.complement_address.errors?.required"
             [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
             class="invalid-feedback">
          Requis
        </div>
      </div>

      <div class="d-flex flex-wrap justify-content-between">
        <div class="w-47 form-group">
          <label>Code postale</label>
          <input class="form-control"
                 formControlName="code_postal"
                 placeholder="Code postale"
                 type="text">
          <div *ngIf="isFormSubmitted && form.code_postal.errors"
               [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
               class="invalid-feedback">
            <span *ngIf="form.code_postal.status">Champs invalide</span>
            <span *ngIf="form.code_postal.errors?.required"> | Requis</span>
          </div>
        </div>

        <div class="w-47 form-group">
          <label>Ville</label>
          <input class="form-control"
                 formControlName="ville"
                 placeholder="Ville"
                 type="text">
          <div *ngIf="isFormSubmitted && form.ville.errors?.required"
               [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
               class="invalid-feedback">
            Requis
          </div>
        </div>
      </div>
    </div>

    <a (click)=toggleDisplay() class="text-underline text-muted d-block my-3">
      <span *ngIf="!showForm">Envoyer à une autre addresse</span>
      <span *ngIf="showForm">Annuler la modification</span>
    </a>

  </div>
  <div class="modal-footer">
    <button (click)="activeModal.close('Close click')" class="btn btn-outline-dark" type="button">Annuler</button>
    <button class="btn btn-lipton" type="submit">Confirmer</button>
  </div>
</form>
