<div class="mes-information">
  <div class="row gutters-sm">

    <div class="col-md-12">
      <div class="card bg-light">
        <div class="card-body tab-content">

          <div class="tab-pane active" id="profile">
            <h6 class="text-uppercase">Informations de votre profil</h6>
            <hr>
            <form>
              <div class="form-group">
                <label>Nom et Prénom</label>
                <input aria-describedby="fullNameHelp" class="form-control" disabled
                       type="text" value="Marjorie Dubois">
              </div>
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" disabled type="text"
                       value="marjorie.dubois@gmail.com">
              </div>
              <div class="form-group">
                <label>Téléphone</label>
                <input class="form-control" disabled type="text"
                       value="0625256547">
              </div>
              <div class="form-group">
                <label>Adresse</label>
                <input class="form-control" disabled type="text"
                       value="24 rue des Soulliers, 75000, Paris">
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
