<div>
  <h1 class="about-h1">Mentions légales</h1>

  <p><b>ThéTipTop</b> : Il s'agit d'une entreprise spécialisée dans la vente de thé bios et handmades de très
    grande qualité. Elle propose différentes variétés de thés à ses clients, notamment des thés détox, des thés blancs,
    des thés légumes, infusions. Créée le 1 Janvier 2002, la société ThéTipTop est une SA au capital social de 150 000€
    et est basée au 18 rue Léon Frot, 75011 Paris.</p>

  <p>ThéTipTop est enregistré à L’Institut national de la statistique et des études économiques (INSEE) au SIREN
    852578947.</p>

  <p>Directeur de la publication : Eric Bourdon en tant que Directrice Marketing</p>

  <h2>Développement</h2>
  <p><b>WebAgency FuriousDucks</b> : Spécialisé dans le digital, La WebAgency FuriousDucks s’est rapidement
    imposée en France comme leader en technologies open source. L’agence accompagne les sociétés dans leur
    transformation digitale depuis 2007 et l’automatisation des tâches. Gérée depuis 10 ans par Mr Guido Brasletti,
    cette société est située au 12 Rue de l’Espérance, dans le 13ème arrondissement de Paris. Ayant connu ses débuts
    en tant que PME enregistré au SIREN 519 464 267 avec un capital de 10.000€, La WebAgency est aujourd’hui une
    très grande entreprise reconnue par les grandes structures telle que Société Générale, Carrefour, Bouygues,
    pour la qualité de son travail. </p>

  <h2>Gestion des gagants</h2>
  <p><b>TESSI TMS</b> : Société par actions simplifiée, au capital de 1 097 632,92 € N° intracommunautaire : FR
    79 649 801 82615 bis avenue du Centre78 280 GUYANCOURTFranceRCS Versailles n°649 801 826</p>

  <h2>Hébergements</h2>
  <p><b>ScaleWay</b> : SAS au capital de 20 000 € 9, rue Campagne Première 75014 ParisFranceRCS Paris n°B 524
    234 051</p>

</div>
