<div class="modal-header border-0">
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="pb-4 px-5">
  <h2 class="text-chocolate text-lobster text-center h1 mb-4">Comment jouer</h2>
  <div class='steps' id='steps'>
    <div class='step'>
      <div class='number'>1</div>
      <div class='info'>
        <p class='title'>Faire un achat d'au moins 49€ en magasin ou en ligne pour recevoir un code</p>
        <p class='text'>
          Trouvez votre thé bio préféré parmi nos thés et infusions dans une boutique ThéTipTop ou notre site ecommerce,
          et gardez votre ticket ou votre facture. Si le montant de votre commande est au moins 49€,
          vous allez trouver sur votre ticket un numéro de 10 chiffres pour participer au jeu concours.
        </p>
      </div>
    </div>
    <div class='step'>
      <div class='number'>2</div>
      <div class='info'>
        <p class='title'>Identifiez vous sur ce site</p>
        <p class='text'>
          Si vouz êtes à la première visite sur notre site, cliquez le bouton <b>S'enregistrer</b>
          situé en bas à gauche de cet écran. Si vous avez déjà un compte, connectez-vous en
          cliquant sur le bouton <b>S'identifier</b>
        </p>
      </div>
    </div>
    <div class='step'>
      <div class='number'>3</div>
      <div class='info'>
        <p class='title'>Jouer votre code</p>
        <p class='text'>
          Rendez-vous sur la page Jouer et introduissez votre numéro de ticket de caisse.
          Puis cliquez sur le bouton <b>Valider</b>. Vous allez avoir une belle surprise ! :)
        </p>
      </div>
    </div>
    <div class='step'>
      <div class='number'>4</div>
      <div class='info'>
        <p class='title'>Réclamer votre lot</p>
        <p class='text'>
          Vous pouvez voir votre gain dans la page Profil, séction <b>Historique</b>.
          Le bouton <b>Réclamer</b> situé à droit de l'écran va vous aider à envoyer une demande
          d'envoie de votre cadeau. Et c'est tout bon ! Félicitations !
        </p>
      </div>
    </div>
  </div>
</div>

