<div class="about-page row p-5">
  <ul #nav="ngbNav" class="nav-tabs" ngbNav>
    <li [ngbNavItem]="1" class="col-12 col-xl-3 py-2 py-xl-0">
      <a class="btn btn-lipton btn-block rounded px-2 px-xl-5 py-3" ngbNavLink>Confidentialité</a>
      <ng-template ngbNavContent>
        <div>

          <h1 class="text-lobster">Politique de Confidentialité</h1>

          <p>La présente politique de confidentialité explique comment nous utilisons les informations personnelles que
            la
            société collecte ou génère en relation avec ce site web et nos produits et services.</p>

          <h2>1. Contexte</h2>

          <p>1.1. La Société fait partie du groupe Suntory Beverage & Food Europe (SBFE), dont le siège social est situé
            au 40-52 boulevard du Parc 92200 Neuilly sur Seine, France, et recueille et utilise certaines données
            personnelles. La Société est tenue de s'assurer qu'elle utilise ces données personnelles conformément aux
            lois
            sur la protection des données.</p>
          <p>1.2. Nous respectons la vie privée et nous nous engageons à assurer la sécurité de toutes vos données
            personnelles. La présente politique de confidentialité régit le traitement des données personnelles par
            notre
            société dans le cadre de ses activités commerciales.</p>
          <p>1.3. Nous utilisons les définitions suivantes dans la présente politique de confidentialité :</p>

          <p><b>"Données personnelles"</b> désigne toute donnée se rapportant à une personne physique vivante
            qui peut être identifiée à partir de ces données ou à partir de ces données et d'autres informations qui
            sont en
            la possession, ou sont susceptibles d'entrer en la possession, de notre Société (ou de ses représentants ou
            prestataires de services). Outre les informations factuelles, elles comprennent toute expression d'opinion
            sur
            un individu et toute indication des intentions de la Société ou de toute autre personne à l'égard d'un
            individu.
          </p>

          <h2>2. Les produits et services que nous fournissons</h2>

          <p>2.1. La présente politique de confidentialité concerne les catégories suivantes d'informations que nous
            recueillons à votre sujet lorsque nous vous fournissons les produits et services suivants :</p>

          <ul>
            <li>(A) Les informations que nous recevons par l'intermédiaire de nos sites web ;</li>
            <li>(B) Les informations que nous recevons dans le cadre de nos activités ;</li>
            <li><strong>(C)</strong> Les informations que nous recevons dans le cadre de la fabrication et de la vente
              de
              nos produits.
            </li>
          </ul>

          <h2>3. Les types de données personnelles que nous recueillons</h2>

          <p>Bon nombre des activités de notre Société exigent que nous obtenions des Données personnelles vous
            concernant
            afin d'exécuter les services ou les obligations que nous avons été engagés à fournir. Dans le cadre de
            chacune
            de ces activités, nous collecterons et traiterons les données personnelles suivantes vous concernant :</p>

          <ul>
            <li><strong>Informations que vous nous fournissez.</strong> Cela inclut les informations vous concernant que
              vous nous fournissez. Le type de données personnelles que nous pourrions vous demander peut inclure (à
              titre
              de liste non exhaustive) :

              <ul>
                <li>les données personnelles de base (telles que le prénom, le nom de famille, la fonction dans
                  l'entreprise, le nom de l'entreprise, l'adresse électronique de l'entreprise, le numéro de téléphone
                  de
                  l'entreprise, l'adresse de l'entreprise, la ville, le code postal, le pays) ;
                </li>
                <li>toute information que vous choisissez de partager sur nos forums Internet et qui peut être
                  considérée
                  comme une donnée personnelle. (Veuillez noter que notre société ne collationne pas les informations
                  incluses dans nos forums Internet avec les données personnelles de votre compte ou profil User Center)
                  ;
                </li>
              </ul>
            </li>
            <li>
              <strong>Les informations que nous recueillons ou générons à votre sujet.</strong> Cela inclut (à titre de
              liste non exhaustive) :

              <ul>
                <li>un fichier contenant l'historique de vos contacts, qui sera utilisé à des fins de demande de
                  renseignements afin que nous puissions nous assurer que vous êtes satisfait des services que nous vous
                  avons fournis ;
                </li>
                <li>les données d'activité relatives à l'utilisation de documents protégés, telles que la modification
                  des
                  autorisations d'un document et les informations concernant la personne qui a effectué l'activité.
                </li>
              </ul>
            </li>
            <li>
              <strong>Cookies</strong>
              <ul>
                <li>Nous utilisons des cookies pour permettre à nos sites web de fonctionner correctement (cookies
                  essentiels). En outre, nous souhaitons utiliser des cookies uniquement à des fins d’analyses
                  statistiques/
                  fréquentation.
                </li>
                <li>Nous vous demanderons toujours votre consentement avant d'utiliser des cookies non essentiels. Un
                  lien
                  sera mis à disposition dans la Politique des cookies pour faire réaparaitre le bandeau et révoquer son
                  consentement aux cookies analytics en cliquant sur NON.
                </li>
                <li>Pour plus d'informations sur la façon dont nous utilisons les cookies, veuillez consulter notre
                  politique en matière de cookies.
                </li>
              </ul>
            </li>
            <li>
              <strong>Données anonymisées</strong>
              <ul>
                <li>Outre les catégories de données personnelles décrites ci-dessus, nous traiterons également d'autres
                  informations et données anonymes qui ne sont pas traitées en référence à une personne spécifique.
                </li>
              </ul>
            </li>
            <li>
              <strong>Enfants</strong>
              <ul>
                <li>Nous prenons au sérieux la protection de la vie privée des enfants. Nous exploitons ce site web en
                  conformité avec toutes les lois applicables dans les pays où nous exerçons nos activités.
                </li>
                <li>Les enfants de moins de 16 ans doivent obtenir l'accord d'un parent/tuteur avant de fournir des
                  informations personnelles sur le site web ou d'utiliser l'un de nos produits et services.
                </li>
                <li>Conformément à la législation en vigueur, nous n'exigerons ni ne demanderons aux enfants de cet âge
                  de
                  fournir plus d'informations personnelles que ce qui est raisonnablement nécessaire pour participer à
                  l'activité applicable sur le site web ou pour participer à nos produits et services.
                </li>
                <li>Si vous n'avez pas atteint l'âge déterminé par la réglementation locale en matière d'âge, vous ne
                  pourrez pas vous inscrire sur ce site web.
                </li>
              </ul>
            </li>
            <p>Notre société n'est pas responsable des cas dans lesquels des personnes mineures ont envoyé toutes leurs
              données personnelles par le biais de ce site web.</p>
          </ul>

          <h2>4. Comment nous utilisons vos informations</h2>

          <p>4.1. Vos données personnelles peuvent être stockées et traitées par nous de la manière et aux fins
            suivantes :
          </p>

          <ul>
            <li>pour l'examen et l'amélioration continus des informations fournies sur nos sites web afin de garantir
              leur
              convivialité et de prévenir toute perturbation ou cyberattaque potentielle ;
            </li>
            <li>pour le suivi et l'analyse statistiques des attaques actuelles contre les appareils et les systèmes et
              pour
              l'adaptation continue des solutions fournies afin de sécuriser les appareils et les systèmes contre les
              attaques actuelles ;
            </li>
            <li>pour comprendre les réactions à nos produits ou services et pour aider à fournir plus d'informations sur
              l'utilisation de ces produits et services rapidement et facilement ;
            </li>
            <li>pour une analyse approfondie des menaces ;</li>
            <li>pour l'administration et la maintenance des bases de données stockant des données personnelles.</li>
          </ul>
          <p>Cependant, lorsque nous utilisons des données personnelles, nous nous assurons que l'utilisation est
            conforme à
            la loi et aux réglementations applicables. La loi et les réglementations nous permettent et nous obligent à
            utiliser les données personnelles pour diverses raisons. Il s'agit notamment de : </p>

          <ul>
            <li>nous devons le faire afin d'exécuter nos obligations contractuelles avec les clients ;</li>
            <li>nous avons obtenu votre consentement ;</li>
            <li>nous avons des obligations légales et réglementaires dont nous devons nous acquitter ;</li>
            <li>nous pouvons avoir besoin de le faire pour établir, exercer ou défendre nos droits légaux ou pour les
              besoins d'une procédure judiciaire ;
            </li>
            <li>l'utilisation de vos Données personnelles telle que décrite est nécessaire pour nos intérêts commerciaux
              légitimes, tels que :

              <ul>
                <li>nous permettre de gérer et d'administrer de manière efficace et efficiente le fonctionnement de
                  notre
                  entreprise ;
                </li>
                <li>le maintien de la conformité aux politiques et procédures internes ;</li>
                <li>contrôler l'utilisation de nos documents protégés par le droit d'auteur ;</li>
                <li>permettant un accès rapide et facile aux informations sur notre société, nos activités et nos
                  produits ;
                </li>
                <li>offrir des solutions de sécurité optimales et actualisées pour les appareils mobiles et les systèmes
                  informatiques ; et
                </li>
                <li>obtenir des connaissances supplémentaires sur les menaces actuelles pour la sécurité des réseaux
                  afin de
                  mettre à jour nos solutions de sécurité et de les proposer au marché.
                </li>
              </ul>
            </li>
          </ul>
          <p>4.3. Nous prendrons des mesures pour nous assurer que les données personnelles ne sont accessibles qu'aux
            employés de notre société qui en ont besoin aux fins décrites dans la présente politique de confidentialité.
          </p>

          <h2>5. Divulgation de vos informations à des tiers</h2>

          <p>5.1 Nous pouvons également partager vos données personnelles en dehors du groupe Suntory aux fins suivantes
            :
          </p>

          <ul>
            <li>avec nos partenaires commerciaux. Par exemple, il peut s'agir de nos partenaires auprès desquels vous,
              votre
              entreprise ou votre organisation avez acheté nos produits. Les données personnelles ne seront transférées
              qu'à
              un partenaire commercial qui est contractuellement tenu de respecter les obligations appropriées en
              matière de
              protection des données et la législation pertinente en matière de vie privée et de confidentialité ;
            </li>
            <li>avec des agents et des contractants tiers dans le but de nous fournir des services (par exemple, les
              comptables de la Société, les conseillers professionnels, les fournisseurs d'informatique et de
              communications
              et les collecteurs de dettes). Ces tiers seront soumis à des obligations appropriées en matière de
              protection
              des données et ils n'utiliseront vos Données personnelles que de la manière décrite dans la présente
              Politique
              de confidentialité ;
            </li>
            <li>dans la mesure où la loi et les règlements l'exigent, par exemple si nous sommes dans l'obligation de
              divulguer vos Données personnelles afin de nous conformer à une obligation légale (y compris, sans
              limitation,
              afin de nous conformer aux exigences de déclaration fiscale et aux divulgations aux autorités de
              réglementation), ou pour établir, exercer ou défendre ses droits légaux ;
            </li>
            <li>si nous vendons notre entreprise ou nos actifs, auquel cas nous pourrions avoir besoin de divulguer vos
              données personnelles à l'acheteur potentiel à des fins de diligence raisonnable ; et
            </li>
            <li>si nous sommes acquis par un tiers, auquel cas les données personnelles que nous détenons à votre sujet
              seront divulguées au tiers acheteur.
            </li>
          </ul>

          <h2>6. Transferts internationaux de données personnelles</h2>

          <p>6.1. Notre société est une entreprise mondiale. Nos clients et nos opérations sont répartis dans le monde
            entier. Par conséquent, nous collectons et transférons des Données personnelles sur une base mondiale. Cela
            signifie que nous pouvons transférer vos données personnelles vers des lieux situés en dehors de votre
            pays.</p>
          <p>6.2. Lorsque nous transférons vos données personnelles vers un autre pays en dehors de l'EEE, nous nous
            assurons qu'elles sont protégées et transférées d'une manière conforme aux exigences légales. En ce qui
            concerne
            les données transférées en dehors de l'Europe, par exemple, cela peut se faire de l'une des manières
            suivantes :
          </p>

          <ul>
            <li>le pays vers lequel nous envoyons les données pourrait être approuvé par la Commission européenne comme
              offrant un niveau adéquat de protection des données personnelles ;
            </li>
            <li>le destinataire peut avoir signé un contrat basé sur des "clauses contractuelles types" approuvées par
              la
              Commission européenne, l'obligeant à protéger vos données personnelles ;
            </li>
            <li>lorsque le destinataire est situé aux États-Unis, il peut s'agir d'un membre certifié du système de
              bouclier
              de protection de la vie privée UE-États-Unis ; ou
            </li>
            <li>dans d'autres circonstances, la loi peut nous permettre de transférer vos données personnelles en dehors
              de
              l'Europe.
            </li>
          </ul>
          <p>6.3 Vous pouvez obtenir plus de détails sur la protection accordée à vos Données personnelles lorsqu'elles
            sont
            transférées en dehors de l'Europe (y compris une copie des clauses standard de protection des données que
            nous
            avons conclues avec les destinataires de vos Données personnelles) en nous contactant comme décrit au
            paragraphe
            10 ci-dessous.</p>

          <h2>7. Comment nous protégeons vos informations</h2>

          <p>7.1 Nous avons mis en place des contrôles pour assurer la sécurité de nos informations et de nos systèmes
            d'information. Les dossiers des clients sont protégés par des mesures de sauvegarde en fonction de la
            sensibilité des informations concernées. Des contrôles appropriés (tels que l'accès restreint) sont placés
            sur
            nos systèmes informatiques. L'accès physique aux zones où les données personnelles sont recueillies,
            traitées ou
            stockées est limité aux employés autorisés.</p>
          <p>7.2 En tant que condition d'emploi, nos employés sont tenus de respecter toutes les lois et réglementations
            applicables, y compris en matière de protection des données. L'accès aux données personnelles sensibles est
            limité aux employés qui en ont besoin pour remplir leurs fonctions. L'utilisation ou la divulgation non
            autorisée d'informations confidentielles de l'entité SBFE par l'un de nos employés est interdite et peut
            entraîner des mesures disciplinaires.</p>
          <p>7.3 Lorsque vous contactez l'un de nos employés au sujet de votre dossier, il peut vous être demandé de
            fournir
            certaines données personnelles. Ce type de protection est conçu pour garantir que seul vous, ou une personne
            autorisée par vous, ait accès à votre dossier.</p>

          <h2>8. La durée de conservation de vos données personnelles</h2>

          <p>8.1 La durée pendant laquelle nous conserverons vos données personnelles variera et sera déterminée par les
            critères suivants :</p>

          <ul>
            <li>la finalité pour laquelle nous les utilisons, par exemple la durée de votre contrat avec nous - nous
              devrons
              conserver les données aussi longtemps que nécessaire pour cette finalité ; et
            </li>
            <li>obligations légales - les lois ou règlements peuvent fixer une période minimale pendant laquelle nous
              devons
              conserver vos données personnelles.
            </li>
          </ul>

          <h2>9. Vos droits</h2>

          <p>9.1 Dans tous les cas susmentionnés dans lesquels nous collectons, utilisons ou conservons vos données
            personnelles, vous pouvez disposer des droits suivants et, dans la plupart des cas, vous pouvez les exercer
            gratuitement.</p>
          <p>Ces droits comprennent :</p>
          <ul>
            <li>le droit d'obtenir des informations concernant le traitement de vos données personnelles et d'accéder
              aux
              données personnelles que nous détenons à votre sujet ;
            </li>
            <li>le droit de retirer votre consentement au traitement de vos données personnelles à tout moment Veuillez
              noter, toutefois, que nous pouvons toujours avoir le droit de traiter vos données personnelles si nous
              avons
              une autre raison légitime de le faire. Par exemple, nous pouvons avoir besoin de conserver des données
              personnelles pour nous conformer à une obligation légale ;
            </li>
            <li>dans certaines circonstances, le droit de recevoir certaines Données Personnelles dans un format
              structuré,
              couramment utilisé et lisible par machine et/ou de demander que nous transmettions ces données à un tiers
              lorsque cela est techniquement possible. Veuillez noter que ce droit ne s'applique qu'aux données
              personnelles
              que vous avez fournies directement à notre société ;
            </li>
            <li>le droit de nous demander de rectifier vos données personnelles si elles sont inexactes ou incomplètes ;
            </li>
            <li>le droit de nous demander d'effacer vos données personnelles dans certaines circonstances. Veuillez
              noter
              qu'il peut y avoir des circonstances où vous nous demandez d'effacer vos données personnelles mais où nous
              sommes légalement autorisés à les conserver ;
            </li>
            <li>le droit de s'opposer à, ou de nous demander de restreindre, notre traitement de vos Données
              Personnelles
              dans certaines circonstances. Là encore, il peut y avoir des circonstances dans lesquelles vous vous
              opposez
              au traitement de vos données personnelles ou nous demandez de le restreindre, mais nous avons légalement
              le
              droit de refuser cette demande ; et
            </li>
            <li>le droit de déposer une plainte auprès du régulateur de la protection des données compétent si vous
              pensez
              que nous avons enfreint l'un de vos droits.
            </li>
            <li>le droit de nous fournir des instructions concernant le traitement de vos données personnelles après
              votre
              décès.
            </li>
          </ul>
          <p>9.2 Vous pouvez exercer vos droits en nous contactant aux coordonnées indiquées au paragraphe 10
            ci-dessous.
          </p>

          <h2>10. Questions et préoccupations</h2>

          <p>Si vous avez des questions ou des préoccupations concernant le traitement de vos données personnelles ou la
            présente politique, veuillez contacter notre délégué à la protection des données aux coordonnées suivantes
            :</p>

          <ul>
            <li>Adresse électronique : <a href="mailto:GDPR.Info@suntory.com">GDPR.Info@suntory.com</a></li>
          </ul>
          <p>
            Nous sommes généralement en mesure de résoudre rapidement et efficacement les questions ou préoccupations
            relatives à la protection de la vie privée. Si vous n'êtes pas satisfait de la réponse que vous recevez de
            notre
            délégué à la protection des données, vous devez, en premier lieu, contacter votre organisme de
            réglementation
            local. En France par exemple, l'autorité compétente est la Commission Nationale de l'Informatique et des
            Libertés, 3 place de Fontenoy 75007 Paris France.
            Étant donné que nous avons des bureaux dans plusieurs pays européens, nous avons également enregistré une
            autorité de surveillance principale (SLA). En fonction de la nature de votre problème, l'affaire peut être
            soumise à notre ANS :Commission Nationale de l’Informatique et des Libertés (CNIL)
            3 place de Fontenoy 75007 Paris.</p>
        </div>


      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="col-12 col-xl-3 py-2 py-xl-0">
      <a class="btn btn-lipton btn-block rounded px-2 px-xl-5 py-3" ngbNavLink>Conditions générales</a>
      <ng-template ngbNavContent>
        <div class="">
          <h1 class="text-lobster">Conditions générales d'utilisation</h1>
          <p>Le présent document constitue les conditions générales d’utilisation du site accessible sous
          l’adresse « lejeuasecouer. com » (ci-après le « Site
          »). La navigation sur le Site ainsi que son utilisation entraînent votre adhésion aux présentes
          conditions d’utilisation ainsi que le respect des dispositions légales qui y sont applicables. L’éditeur
          du Site se réserve le droit de modifier à tout moment et sans préavis le Site et/ou les présentes conditions
          d’utilisation du Site et vous invite par conséquent à en prendre régulièrement connaissance. Toute
          modification entrera en vigueur à compter de sa mise en ligne sur le Site et s’appliquera immédiatement, sans
          formalité aucune, aux connexions au Site, en cours ou à venir. </p>
          <h2>Article 1 – Principes généraux</h2>
          <p>Les présentes Conditions Générales d’Utilisation du Site (ci-après « Conditions générales d’utilisation »)
            ont pour objet de définir les conditions d’accès et d’utilisation du Site. Est défini comme
            Utilisateur (ci-après l’« Utilisateur ») toute personne se connectant au Site. Les présentes
            Conditions générales d’utilisation s’appliquent, en tant que de besoin, à toute déclinaison ou extension du
            Site sur les réseaux sociaux et/ou communautaires existants ou à venir. Toute connexion au Site et/ou
            son utilisation implique l'acceptation pleine et entière des Conditions générales d'utilisation par les
            Utilisateurs. Ces Conditions générales d'utilisation sont susceptibles d'être modifiées ou complétées à tout
            moment et sans préavis, les Utilisateurs du Site sont donc invités à les consulter de manière régulière. Les
            Utilisateurs seront supposés avoir approuvé les présentes Conditions générales d’Utilisation et toutes les
            modifications en poursuivant leur navigation sur le Site. Toutefois, nonobstant ce qui précède, toute
            modification significative des Conditions générales d’utilisation sera soumise à l’Utilisateur qui devra les
            accepter afin de continuer à accéder au Site.
          </p>
          <h2>Article 2 – Conditions d'accès au Site</h2>
          <p>Le Site est uniquement accessible par Internet. Pour cela, l’Utilisateur doit disposer : </p>
          <ul>
            <li>d’un smartphone et/ou une tablette ; le jeu ne sera pas accessible depuis un ordinateur</li>
            <li>d’un navigateur Internet compatible à jour des dernières versions</li>
          </ul>
          <p>L’Utilisateur s’engage à accéder au Site en utilisant un matériel répondant aux exigences de configuration
            ci-dessus décrites et ne contenant pas de virus. L’Utilisateur est seul responsable de la mise à jour et de
            la configuration de ses appareils électroniques, pour lui permettre d’accéder au Site. L’Utilisateur
            est informé que le coût de l’accès et de la navigation sur le Site est à sa charge exclusive. Tous
            matériels et logiciels nécessaires à l’accès et à l’utilisation du Site restent exclusivement à la charge de
            l’Utilisateur qui est donc seul responsable du bon fonctionnement de son équipement ainsi que de son accès à
            Internet. Il lui appartient ainsi de prendre toutes mesures appropriées de façon à protéger ses propres
            données, systèmes informatiques et/ou logiciel de la contamination par d’éventuels virus. L’Utilisateur
            est seul responsable de l’utilisation qu’il fait du Site. </p>
          <h2>Article 3 – Utilisation du Site</h2>
          <p>Le Site permet à l’Utilisateur de participer gratuitement au jeu organisé par l’Editeur. Voir les modalités
            du jeu et les conditions de participation dans le règlement du jeu disponible à l’onglet : Règlement de
            jeu. Le Site est exclusivement destiné aux Utilisateurs agissant à des fins personnelles et non
            commerciales. L’Utilisateur ne peut en aucun cas, sans que cette liste ne soit limitative, modifier,
            copier, distribuer, transmettre, télécharger, émettre, afficher, reproduire, éditer, publier, délivrer une
            licence, créer des travaux dérivés, transférer ou vendre des informations, éléments ou services du Site,
            sous quelque forme que ce soit. </p>
          <h2>Article 4 - Disponibilité du Site</h2>
          <p>En complément des stipulations de l’article 4 « Responsabilités » ci-après, l’accès au Site est soumis aux
            dispositions suivantes. L’Editeur fera son possible afin de permettre l’accès au Site par les
            Utilisateurs, gratuitement, 24 heures sur 24, 7 jours sur 7 sauf en cas de force majeure et/ou de tout
            évènement indépendant de la volonté de l’Editeur et sous réserve des éventuelles pannes et interventions de
            maintenance ou de contrôle nécessaires au bon fonctionnement du Site. L’Utilisateur reconnaît et
            accepte que l’Editeur ne soit pas responsable des conséquences éventuelles qui peuvent en découler pour
            l’Utilisateur. En tout état de cause, l’Editeur ne peut garantir une disponibilité du Site une
            fiabilité des transmissions et des performances en termes de temps de réponse ou de qualité. </p>
          <h2>Article 5 - Comportement des Utilisateurs</h2>
          <p>Les Utilisateurs du Site s'engagent de manière générale à se conformer aux lois et règlements en vigueur en
            France, à respecter les droits des tiers et les dispositions des présentes Conditions générales
            d'utilisation. A ce titre, les Utilisateurs s'engagent à se comporter de façon loyale. L'Utilisateur
            s'engage en particulier, et sans que cette liste soit limitative, à ne pas : </p>

          <ul>
            <li>Diffamer, abuser, harceler, traquer, menacer ou encore violer les droits des membres du Site ou de tiers
              ;
            </li>
            <li>Utiliser le Site à des fins professionnelles ou commerciales, c'est-à-dire promouvoir ou proposer de
              vendre ou d'acheter des biens ou des services ;
            </li>
            <li>Restreindre ou empêcher un autre utilisateur d'utiliser ou de jouir des services proposés par le Site ;
            </li>
            <li>Récolter ou collecter des informations et données personnelles relatives aux autres utilisateurs telles
              qu'un nom de famille, une adresse électronique ou postale, un numéro de téléphone ou un mot de passe ;
            </li>
            <li>Violer une quelconque loi, réglementation en vigueur en France ou les présentes conditions d'utilisation
              ;
            </li>
            <li>Créer une fausse identité, ou usurper l'identité d'une personne ou d'une entité ;</li>
            <li>Utiliser ou fournir (gratuitement ou non) à une personne ou une entité, le répertoire des utilisateurs
              du Site ou d'autres utilisateurs ou des informations les concernant ;
            </li>
          </ul>
          <p>Tout manquement aux obligations ainsi définies constitue un manquement grave pouvant entraîner des
            poursuites judiciaires. </p>
          <p>Les membres et visiteurs du Site peuvent signaler à la société de gestion du Jeu tout comportement ou
            contenu préjudiciable par demande écrite envoyée à : <i>ThéTipTop, 18 rue Léon Frot, 75011, Paris</i></p>

          <p>L’Hébergeur fera de son mieux pour supprimer promptement un contenu illicite dès qu'il en a connaissance et
            sans que cela ne puisse entrainer sa responsabilité. L’Hébergeur pourra refuser de diffuser et/ou
            retirer des informations et/ou contenus du Site, en tout ou partie, s'il le juge nécessaire. </p>
          <h2>Article 6 – Responsabilité</h2>
          <h3>6.1 Responsabilité de l’Utilisateur</h3>
          <p>L’Utilisateur s’engage à ne pas entraver le bon fonctionnement du Site de quelque manière que ce soit, à ne
            pas transmettre tout élément susceptible de contenir un virus ou autre élément susceptible d'endommager,
            d'intercepter, d'interférer tout ou partie du Site. L'Utilisateur du Site est responsable des
            dommages de toute nature, matériels ou immatériels consécutifs ou non, directs ou indirects, causés à
            lui-même ainsi qu’à tout tiers, y compris à l’Editeur, du fait de l'utilisation ou de l'exploitation
            illicite du Site et/ou de l'un de ses éléments, quels que soient la cause et le lieu de survenance de ces
            dommages, et garantit l’Editeur des conséquences des réclamations ou actions dont il pourrait ou ses
            personnels, de ce fait, faire l'objet.
          </p>
          <h3>6.2 Responsabilité de l’Editeur</h3>
          <p>Les informations communiquées sur le Site sont fournies à titre indicatif, elles sont non contractuelles et
            ne sauraient engager la responsabilité de l’Editeur. L’Editeur se réserve également le droit, à tout
            moment et sans préavis, d'apporter des améliorations et/ou modifications au Site. L’Editeur se réserve le
            droit de corriger à tout moment et dès qu’elle en a eu connaissance, toutes erreurs, notamment techniques ou
            typographiques pouvant affecter les informations ou documents du Site. </p>

          <ul>
            <li>les dommages de toute nature, directs ou indirects, résultant de l'utilisation du Site par
              l’Utilisateur, et notamment toute perte d'exploitation, perte financière ou commerciale, perte de
              programmes et/ou de données en particulier dans le système d'information de l'Utilisateur du Site;
            </li>
            <li>les dommages de toute nature, directs ou indirects, résultant du contenu du Site ;</li>
            <li>l'impossibilité d'accéder au Site et/ou à l'un des sites Internet de l’Editeur lui étant liés ;</li>
            <li>les omissions et/ou erreurs que pourrait contenir le Site.</li>
          </ul>

          <h2>Article 7 – Propriété intellectuelle</h2>
          <p>L'intégralité du Site est protégée par les législations françaises et internationales relatives à la
            propriété intellectuelle. Tous les droits de reproduction, d’adaptation et de représentation sont réservés,
            y compris pour les documents téléchargeables. L'ensemble des textes, graphismes, icônes, photographies,
            plans, logos, vidéos, sons, marques (. . . ) et plus généralement l'ensemble des contenus et services du
            Site
            et des éléments composant le Site lui-même ne peuvent, conformément aux dispositions du Code de la propriété
            intellectuelle, faire l'objet d'une quelconque représentation ou reproduction ou adaptation, intégrale ou
            partielle, sur quelque support que ce soit, sans l'autorisation expresse et préalable de l’Editeur ou de ses
            partenaires. Le non-respect de cette interdiction constitue un acte de contrefaçon pouvant engager la
            responsabilité civile et/ou pénale de son auteur. L’Editeur se réserve le droit d'engager des poursuites
            judiciaires à l'encontre de toute personne qui n'aurait pas respecté cette interdiction. De même, il
            est strictement interdit d'utiliser ou de reproduire les noms et les marques de l’Editeur ou de ses
            partenaires, et/ou leurs logos, seuls ou associés, à quelque titre que ce soit et sur quelque support que ce
            soit sans l'accord préalable et écrit de l’Editeur. Les Utilisateurs du Site, et de ses sites
            Internet liés, ne peuvent reproduire de contenus (textes, photos, vidéos, sons, animations, etc. ) sans
            l'autorisation expresse et préalable de l’Editeur. </p>
          <h2>Article 8 – Dispositions diverses</h2>
          <p>Si une partie quelconque des stipulations des présentes Conditions générales d’utilisation devait s'avérer
            illégale, invalide ou inapplicable pour quelque raison que ce soit, le terme ou les termes en question
            seraient déclarés inexistants et les termes restants garderaient toute leur force et leur portée et
            continueraient à être applicables. Les termes déclarés inexistants sont remplacés par un (des) termes
            qui se rapprocheront le plus quant à son contenu de la clause annulée. Même s'il est accessible
            depuis l'étranger, ce Site et son contenu sont strictement destinés à l'usage des Utilisateurs résidant sur
            les territoires français métropolitains et outre-mer, belge et néerlandais . Les présentes Conditions
            générales d’utilisation sont soumises à la loi française. </p>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3" class="col-12 col-xl-3 py-2 py-xl-0">
      <a class="btn btn-lipton btn-block rounded px-2 px-xl-5 py-3" ngbNavLink>Mentions légales</a>
      <ng-template ngbNavContent>
        <div>
          <h1 class="text-lobster">Mentions légales</h1>
          <h2>Direction de la publication</h2>
          <p><b>ThéTipTop</b> : Il s'agit d'une entreprise spécialisée dans la vente de thé bios et handmades de très
            grande qualité. Elle propose
            différentes variétés de thés à ses clients, notamment des thés détox, des thés blancs, des thés légumes,
            infusions. Créée le 1 Janvier 2002, la société ThéTipTop est une SA au capital social de 150 000€ et est
            basée au 18 rue Léon Frot, 75011 Paris.</p>

          <p>ThéTipTop est enregistré à L’Institut national de la statistique et des études économiques (INSEE) au SIREN
            852578947.</p>

          <p>Directeur de la publication : Eric Bourdon en tant que Directrice Marketing</p>

          <h2>Développement</h2>
          <p><b>WebAgency FuriousDucks</b> : Spécialisé dans le digital, La WebAgency FuriousDucks s’est rapidement
            imposée en France comme leader en
            technologies open source. L’agence accompagne les sociétés dans leur transformation digitale depuis 2007 et
            l’automatisation des tâches. Gérée depuis 10 ans par Mr Guido Brasletti, cette société est située au 12 Rue
            de l’Espérance, dans le 13ème arrondissement de Paris. Ayant connu ses débuts en tant que PME enregistré au
            SIREN 519 464 267 avec un capital de 10.000€, La WebAgency est aujourd’hui une très grande entreprise
            reconnue par les grandes structures telle que Société Générale, Carrefour, Bouygues, pour la qualité de son
            travail. </p>

          <h2>Gestion des gagants</h2>
          <p><b>TESSI TMS</b> : Société par actions simplifiée, au capital de 1 097 632,92 € N° intracommunautaire : FR
            79 649 801 82615
            bis avenue du Centre78 280 GUYANCOURTFranceRCS Versailles n°649 801 826</p>

          <h2>Hébergements</h2>
          <p><b>ScaleWay</b> : SAS au capital de 20 000 € 9, rue Campagne Première 75014 ParisFranceRCS Paris n°B 524
            234 051</p>

        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="4" class="col-12 col-xl-3 py-2 py-xl-0">
      <a class="btn btn-lipton btn-block rounded px-2 px-xl-5 py-3" ngbNavLink>Cookies</a>
      <ng-template ngbNavContent>
        <div>
          <h1 class="text-lobster">Politique en matière de cookies</h1>
          <p>Veuillez lire attentivement cette politique en matière de cookies car elle contient des informations
            importantes sur qui nous sommes et comment nous utilisons les cookies sur nos sites web.La présente politique doit être lue conjointement avec notre politique de confidentialité, qui définit comment et pourquoi nous collectons, stockons, utilisons et partageons les informations personnelles en général, ainsi que vos droits concernant vos informations personnelles et les détails sur la manière de nous contacter et de contacter les autorités de surveillance en cas de plainte.
          </p>
          <h2>Qui sommes nous ?</h2>
          <p>Ce site Web est exploité par Suntory Beverage &amp; Food France, qui fait partie du groupe Suntory Beverage
            &amp; Food Europe.</p>
          <h2>Notre site web</h2>
          <p>Notre site Web peut contenir des liens vers d'autres sites Web détenus et exploités par des tiers de confiance
            afin de mettre à votre disposition des produits et services supplémentaires. Ces autres sites Web tiers peuvent
            également utiliser des cookies ou des technologies similaires conformément à leurs propres politiques
            distinctes. Pour toute information relative à la confidentialité de ces sites Web tiers, veuillez consulter
            leurs politiques respectives.</p>
          <h2>Cookies</h2>
          <p>Un cookie est un petit fichier texte qui est placé sur votre appareil (ordinateur, smartphone ou autre appareil
            électronique) lorsque vous utilisez notre site web. Nous utilisons des cookies sur notre site web pour nous
            aider à vous reconnaître, vous et votre appareil, et à stocker certaines informations sur vos préférences ou vos
            actions passées afin que vous puissiez profiter d'une meilleure expérience en ligne. Par exemple, nous pouvons contrôler le nombre de fois où vous visitez le site web, les pages que vous consultez, les données de trafic, les données de localisation et le nom de domaine d'origine de votre fournisseur d'accès à Internet. Ces informations nous aident à établir un profil de nos utilisateurs. Certaines de ces données seront agrégées ou statistiques, ce qui signifie que nous ne serons pas en mesure de vous identifier individuellement.
          </p>
          <h2>Consentement à l'utilisation de cookies et modification des paramètres </h2>
          <p>Nous vous demanderons votre autorisation <strong>(Consentement)</strong> pour placer des cookies ou d'autres
            technologies similaires sur votre appareil, sauf s'ils sont essentiels pour nous permettre de vous fournir un
            service que vous avez demandé. Ces cookies essentiels seront toujours activés car notre site web ne fonctionnera
            pas correctement sans eux.</p>
          <h2>Quels types de cookies utilisons-nous ?</h2>
          <p>1 - Les cookies techniques strictement nécessaires au fonctionnement de notre Site. Ces cookies ne concernent
            que le fonctionnement de notre Site et ne requièrent pas votre consentement préalable pour être déposés sur
            votre terminal.</p>

          <p><b>Nom du cookie : </b>PHPSESSID</p>

          <p><b>Categorie de cookies : </b>Cookies de
            session</p>

          <p><b>Finalite(s) : </b>Utilisé pour établir une session utilisateur et pour transmettre des données
            d'état via un cookie temporaire.</p>

          <p>2 - Les cookies de tiers d'analyse et de mesure d'audience
            :Ces cookies permettent de collecter des informations sur votre utilisation de notre Site pour nous permettre d'améliorer nos services et contenus proposés (par exemple, le nombre d’utilisateurs, les pages les plus souvent consultées, les horaires de consultation du site).Ces cookies requièrent votre consentement préalable avant d'être déposés sur votre terminal.
          </p>

          <p><b>Nom et source du cookie : </b>_ga_1T5GM8DJFE Google Analytics <a
            href="https://policies.google.com/privacy?hl=fr" target="_blank">https://policies.google.com/privacy?hl=fr</a></p>

          <p> <b>Categorie de cookies : </b>Cookies
            d'analyses et de mesure d'audience.</p>

          <p> <b>Finalite(s) : </b>Google Analytics collecte votre adresse IP et des
            informations relatives à votre utilisation de notre site web (fréquence, pages visitées) pour générer des
            données statistiques sur la façon dont vous utilisez notre Site et nous permettant d'améliorer nos services et
            contenus.</p>

          <p><b>Nom et source du cookie : </b>_ga Event GA Store <a href="https://policies.google.com/privacy?hl=fr"
                                                                    target="_blank">https://policies.google.com/privacy?hl=fr</a></p>

          <p><b>Categorie de cookies : </b>Cookies de
            mesure d'audience.</p>

          <p><b>Finalite(s) : </b>Cookies pour mesurer votre activité sur notre Site (fréquence, pages
            visitées) .</p>

          <h2>Comment désactiver tous les cookies et les conséquences d'une telle désactivation ? </h2>
          <p>Si vous ne souhaitez pas accepter de cookies, vous pouvez modifier les paramètres de votre navigateur afin que
            les cookies (y compris ceux qui sont essentiels aux services demandés) ne soient pas acceptés. Si vous faites
            cela, sachez que vous risquez de perdre certaines fonctionnalités de notre site web. Pour révoquer votre
            consentement aux cookies non essentiels du Jeu à secouer (d'analyses et de mesure d’audience) <a
              class="cookieTrigger">cliquez ICI</a> pour faire réapparaitre le bandeau de consentement aux cookies et
            cliquez sur NON.</p>
          <h2>Comment nous contacter</h2>
          <p>Veuillez nous contacter à l'adresse <a href="mailto:gdpr.info@suntory.com">gdpr.info@suntory.com</a> si vous
            avez des questions sur cette politique en matière de cookies ou sur les informations que nous détenons à votre
            sujet.</p>
          <h2>Modifications de la présente politique</h2>
          <p>Nous pouvons modifier cette politique de temps à autre, lorsque des changements sont apportés à la manière dont
            nous exploitons notre site web.</p>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>

