<div>
  <h1 class="about-h1">Politique de Confidentialité</h1>
  <p>La présente politique de confidentialité explique comment nous utilisons les informations personnelles que
    la société collecte ou génère en relation avec ce site web et nos produits et services.</p>
  <h2>1. Contexte</h2>
  <p>1.1. La Société fait partie du groupe Suntory Beverage & Food Europe (SBFE), dont le siège social est situé
    au 40-52 boulevard du Parc 92200 Neuilly sur Seine, France, et recueille et utilise certaines données
    personnelles. La Société est tenue de s'assurer qu'elle utilise ces données personnelles conformément aux
    lois sur la protection des données.</p>
  <p>1.2. Nous respectons la vie privée et nous nous engageons à assurer la sécurité de toutes vos données
    personnelles. La présente politique de confidentialité régit le traitement des données personnelles par
    notre société dans le cadre de ses activités commerciales.</p>
  <p>1.3. Nous utilisons les définitions suivantes dans la présente politique de confidentialité :</p>
  <p><b>"Données personnelles"</b> désigne toute donnée se rapportant à une personne physique vivante
    qui peut être identifiée à partir de ces données ou à partir de ces données et d'autres informations qui
    sont en la possession, ou sont susceptibles d'entrer en la possession, de notre Société (ou de ses représentants ou
    prestataires de services). Outre les informations factuelles, elles comprennent toute expression d'opinion
    sur un individu et toute indication des intentions de la Société ou de toute autre personne à l'égard d'un
    individu.
  </p>
  <h2>2. Les produits et services que nous fournissons</h2>
  <p>2.1. La présente politique de confidentialité concerne les catégories suivantes d'informations que nous
    recueillons à votre sujet lorsque nous vous fournissons les produits et services suivants :</p>
  <ul>
    <li>(A) Les informations que nous recevons par l'intermédiaire de nos sites web ;</li>
    <li>(B) Les informations que nous recevons dans le cadre de nos activités ;</li>
    <li><strong>(C)</strong> Les informations que nous recevons dans le cadre de la fabrication et de la vente
      de nos produits.
    </li>
  </ul>
  <h2>3. Les types de données personnelles que nous recueillons</h2>
  <p>Bon nombre des activités de notre Société exigent que nous obtenions des Données personnelles vous
    concernant afin d'exécuter les services ou les obligations que nous avons été engagés à fournir. Dans le cadre de
    chacune de ces activités, nous collecterons et traiterons les données personnelles suivantes vous concernant :</p>
  <ul>
    <li><strong>Informations que vous nous fournissez.</strong> Cela inclut les informations vous concernant que
      vous nous fournissez. Le type de données personnelles que nous pourrions vous demander peut inclure (à
      titre de liste non exhaustive) :
      <ul>
        <li>les données personnelles de base (telles que le prénom, le nom de famille, la fonction dans
          l'entreprise, le nom de l'entreprise, l'adresse électronique de l'entreprise, le numéro de téléphone
          de l'entreprise, l'adresse de l'entreprise, la ville, le code postal, le pays) ;
        </li>
        <li>toute information que vous choisissez de partager sur nos forums Internet et qui peut être
          considérée comme une donnée personnelle. (Veuillez noter que notre société ne collationne pas les informations
          incluses dans nos forums Internet avec les données personnelles de votre compte ou profil User Center) ;
        </li>
      </ul>
    </li>
    <li>
      <strong>Les informations que nous recueillons ou générons à votre sujet.</strong> Cela inclut (à titre de
      liste non exhaustive) :
      <ul>
        <li>un fichier contenant l'historique de vos contacts, qui sera utilisé à des fins de demande de
          renseignements afin que nous puissions nous assurer que vous êtes satisfait des services que nous vous
          avons fournis ;
        </li>
        <li>les données d'activité relatives à l'utilisation de documents protégés, telles que la modification
          des autorisations d'un document et les informations concernant la personne qui a effectué l'activité.
        </li>
      </ul>
    </li>
    <li>
      <strong>Cookies</strong>
      <ul>
        <li>Nous utilisons des cookies pour permettre à nos sites web de fonctionner correctement (cookies
          essentiels). En outre, nous souhaitons utiliser des cookies uniquement à des fins d’analyses
          statistiques/fréquentation.
        </li>
        <li>Nous vous demanderons toujours votre consentement avant d'utiliser des cookies non essentiels. Un
          lien sera mis à disposition dans la Politique des cookies pour faire réaparaitre le bandeau et révoquer son
          consentement aux cookies analytics en cliquant sur NON.
        </li>
        <li>Pour plus d'informations sur la façon dont nous utilisons les cookies, veuillez consulter notre
          politique en matière de cookies.
        </li>
      </ul>
    </li>
    <li>
      <strong>Données anonymisées</strong>
      <ul>
        <li>Outre les catégories de données personnelles décrites ci-dessus, nous traiterons également d'autres
          informations et données anonymes qui ne sont pas traitées en référence à une personne spécifique.
        </li>
      </ul>
    </li>
    <li>
      <strong>Enfants</strong>
      <ul>
        <li>Nous prenons au sérieux la protection de la vie privée des enfants. Nous exploitons ce site web en
          conformité avec toutes les lois applicables dans les pays où nous exerçons nos activités.
        </li>
        <li>Les enfants de moins de 16 ans doivent obtenir l'accord d'un parent/tuteur avant de fournir des
          informations personnelles sur le site web ou d'utiliser l'un de nos produits et services.
        </li>
        <li>Conformément à la législation en vigueur, nous n'exigerons ni ne demanderons aux enfants de cet âge
          de
          fournir plus d'informations personnelles que ce qui est raisonnablement nécessaire pour participer à
          l'activité applicable sur le site web ou pour participer à nos produits et services.
        </li>
        <li>Si vous n'avez pas atteint l'âge déterminé par la réglementation locale en matière d'âge, vous ne
          pourrez pas vous inscrire sur ce site web.
        </li>
      </ul>
    </li>
  </ul>
  <p>Notre société n'est pas responsable des cas dans lesquels des personnes mineures ont envoyé toutes leurs
    données personnelles par le biais de ce site web.</p>
  <h2>4. Comment nous utilisons vos informations</h2>
  <p>4.1. Vos données personnelles peuvent être stockées et traitées par nous de la manière et aux fins
    suivantes :
  </p>
  <ul>
    <li>pour l'examen et l'amélioration continus des informations fournies sur nos sites web afin de garantir
      leur convivialité et de prévenir toute perturbation ou cyberattaque potentielle ;
    </li>
    <li>pour le suivi et l'analyse statistiques des attaques actuelles contre les appareils et les systèmes et
      pour l'adaptation continue des solutions fournies afin de sécuriser les appareils et les systèmes contre les
      attaques actuelles ;
    </li>
    <li>pour comprendre les réactions à nos produits ou services et pour aider à fournir plus d'informations sur
      l'utilisation de ces produits et services rapidement et facilement ;
    </li>
    <li>pour une analyse approfondie des menaces ;</li>
    <li>pour l'administration et la maintenance des bases de données stockant des données personnelles.</li>
  </ul>
  <p>Cependant, lorsque nous utilisons des données personnelles, nous nous assurons que l'utilisation est
    conforme à la loi et aux réglementations applicables. La loi et les réglementations nous permettent et nous obligent à
    utiliser les données personnelles pour diverses raisons. Il s'agit notamment de : </p>
  <ul>
    <li>nous devons le faire afin d'exécuter nos obligations contractuelles avec les clients ;</li>
    <li>nous avons obtenu votre consentement ;</li>
    <li>nous avons des obligations légales et réglementaires dont nous devons nous acquitter ;</li>
    <li>nous pouvons avoir besoin de le faire pour établir, exercer ou défendre nos droits légaux ou pour les
      besoins d'une procédure judiciaire ;
    </li>
    <li>l'utilisation de vos Données personnelles telle que décrite est nécessaire pour nos intérêts commerciaux
      légitimes, tels que :
      <ul>
        <li>nous permettre de gérer et d'administrer de manière efficace et efficiente le fonctionnement de
          notre  entreprise ;
        </li>
        <li>le maintien de la conformité aux politiques et procédures internes ;</li>
        <li>contrôler l'utilisation de nos documents protégés par le droit d'auteur ;</li>
        <li>permettant un accès rapide et facile aux informations sur notre société, nos activités et nos
          produits ;
        </li>
        <li>offrir des solutions de sécurité optimales et actualisées pour les appareils mobiles et les systèmes
          informatiques ; et
        </li>
        <li>obtenir des connaissances supplémentaires sur les menaces actuelles pour la sécurité des réseaux
          afin de mettre à jour nos solutions de sécurité et de les proposer au marché.
        </li>
      </ul>
    </li>
  </ul>
  <p>4.3. Nous prendrons des mesures pour nous assurer que les données personnelles ne sont accessibles qu'aux
    employés de notre société qui en ont besoin aux fins décrites dans la présente politique de confidentialité.
  </p>
  <h2>5. Divulgation de vos informations à des tiers</h2>
  <p>5.1 Nous pouvons également partager vos données personnelles en dehors du groupe Suntory aux fins suivantes :
  </p>
  <ul>
    <li>avec nos partenaires commerciaux. Par exemple, il peut s'agir de nos partenaires auprès desquels vous,
      votre entreprise ou votre organisation avez acheté nos produits. Les données personnelles ne seront transférées
      qu'à un partenaire commercial qui est contractuellement tenu de respecter les obligations appropriées en
      matière de protection des données et la législation pertinente en matière de vie privée et de confidentialité ;
    </li>
    <li>avec des agents et des contractants tiers dans le but de nous fournir des services (par exemple, les
      comptables de la Société, les conseillers professionnels, les fournisseurs d'informatique et de
      communications et les collecteurs de dettes). Ces tiers seront soumis à des obligations appropriées en matière de
      protection des données et ils n'utiliseront vos Données personnelles que de la manière décrite dans la présente
      Politique de confidentialité ;
    </li>
    <li>dans la mesure où la loi et les règlements l'exigent, par exemple si nous sommes dans l'obligation de
      divulguer vos Données personnelles afin de nous conformer à une obligation légale (y compris, sans
      limitation, afin de nous conformer aux exigences de déclaration fiscale et aux divulgations aux autorités de
      réglementation), ou pour établir, exercer ou défendre ses droits légaux ;
    </li>
    <li>si nous vendons notre entreprise ou nos actifs, auquel cas nous pourrions avoir besoin de divulguer vos
      données personnelles à l'acheteur potentiel à des fins de diligence raisonnable ; et
    </li>
    <li>si nous sommes acquis par un tiers, auquel cas les données personnelles que nous détenons à votre sujet
      seront divulguées au tiers acheteur.
    </li>
  </ul>

  <h2>6. Transferts internationaux de données personnelles</h2>
  <p>6.1. Notre société est une entreprise mondiale. Nos clients et nos opérations sont répartis dans le monde
    entier. Par conséquent, nous collectons et transférons des Données personnelles sur une base mondiale. Cela
    signifie que nous pouvons transférer vos données personnelles vers des lieux situés en dehors de votre
    pays.</p>
  <p>6.2. Lorsque nous transférons vos données personnelles vers un autre pays en dehors de l'EEE, nous nous
    assurons qu'elles sont protégées et transférées d'une manière conforme aux exigences légales. En ce qui
    concerne
    les données transférées en dehors de l'Europe, par exemple, cela peut se faire de l'une des manières
    suivantes :
  </p>
  <ul>
    <li>le pays vers lequel nous envoyons les données pourrait être approuvé par la Commission européenne comme
      offrant un niveau adéquat de protection des données personnelles ;
    </li>
    <li>le destinataire peut avoir signé un contrat basé sur des "clauses contractuelles types" approuvées par
      la Commission européenne, l'obligeant à protéger vos données personnelles ;
    </li>
    <li>lorsque le destinataire est situé aux États-Unis, il peut s'agir d'un membre certifié du système de
      bouclier de protection de la vie privée UE-États-Unis ; ou
    </li>
    <li>dans d'autres circonstances, la loi peut nous permettre de transférer vos données personnelles en dehors
      de l'Europe.
    </li>
  </ul>
  <p>6.3 Vous pouvez obtenir plus de détails sur la protection accordée à vos Données personnelles lorsqu'elles
    sont transférées en dehors de l'Europe (y compris une copie des clauses standard de protection des données que
    nous avons conclues avec les destinataires de vos Données personnelles) en nous contactant comme décrit au
    paragraphe 10 ci-dessous.</p>
  <h2>7. Comment nous protégeons vos informations</h2>
  <p>7.1 Nous avons mis en place des contrôles pour assurer la sécurité de nos informations et de nos systèmes
    d'information. Les dossiers des clients sont protégés par des mesures de sauvegarde en fonction de la
    sensibilité des informations concernées. Des contrôles appropriés (tels que l'accès restreint) sont placés
    sur  nos systèmes informatiques. L'accès physique aux zones où les données personnelles sont recueillies,
    traitées ou stockées est limité aux employés autorisés.</p>
  <p>7.2 En tant que condition d'emploi, nos employés sont tenus de respecter toutes les lois et réglementations
    applicables, y compris en matière de protection des données. L'accès aux données personnelles sensibles est
    limité aux employés qui en ont besoin pour remplir leurs fonctions. L'utilisation ou la divulgation non
    autorisée d'informations confidentielles de l'entité SBFE par l'un de nos employés est interdite et peut
    entraîner des mesures disciplinaires.</p>
  <p>7.3 Lorsque vous contactez l'un de nos employés au sujet de votre dossier, il peut vous être demandé de
    fournir certaines données personnelles. Ce type de protection est conçu pour garantir que seul vous, ou une personne
    autorisée par vous, ait accès à votre dossier.</p>
  <h2>8. La durée de conservation de vos données personnelles</h2>
  <p>8.1 La durée pendant laquelle nous conserverons vos données personnelles variera et sera déterminée par les
    critères suivants :</p>
  <ul>
    <li>la finalité pour laquelle nous les utilisons, par exemple la durée de votre contrat avec nous - nous
      devrons conserver les données aussi longtemps que nécessaire pour cette finalité ; et
    </li>
    <li>obligations légales - les lois ou règlements peuvent fixer une période minimale pendant laquelle nous
      devons conserver vos données personnelles.
    </li>
  </ul>
  <h2>9. Vos droits</h2>
  <p>9.1 Dans tous les cas susmentionnés dans lesquels nous collectons, utilisons ou conservons vos données
    personnelles, vous pouvez disposer des droits suivants et, dans la plupart des cas, vous pouvez les exercer
    gratuitement.</p>
  <p>Ces droits comprennent :</p>
  <ul>
    <li>le droit d'obtenir des informations concernant le traitement de vos données personnelles et d'accéder
      aux données personnelles que nous détenons à votre sujet ;
    </li>
    <li>le droit de retirer votre consentement au traitement de vos données personnelles à tout moment Veuillez
      noter, toutefois, que nous pouvons toujours avoir le droit de traiter vos données personnelles si nous
      avons une autre raison légitime de le faire. Par exemple, nous pouvons avoir besoin de conserver des données
      personnelles pour nous conformer à une obligation légale ;
    </li>
    <li>dans certaines circonstances, le droit de recevoir certaines Données Personnelles dans un format
      structuré, couramment utilisé et lisible par machine et/ou de demander que nous transmettions ces données à un tiers
      lorsque cela est techniquement possible. Veuillez noter que ce droit ne s'applique qu'aux données
      personnelles que vous avez fournies directement à notre société ;
    </li>
    <li>le droit de nous demander de rectifier vos données personnelles si elles sont inexactes ou incomplètes ;
    </li>
    <li>le droit de nous demander d'effacer vos données personnelles dans certaines circonstances. Veuillez
      noter qu'il peut y avoir des circonstances où vous nous demandez d'effacer vos données personnelles mais où nous
      sommes légalement autorisés à les conserver ;
    </li>
    <li>le droit de s'opposer à, ou de nous demander de restreindre, notre traitement de vos Données
      Personnelles dans certaines circonstances. Là encore, il peut y avoir des circonstances dans lesquelles vous vous
      opposez au traitement de vos données personnelles ou nous demandez de le restreindre, mais nous avons légalement
      le droit de refuser cette demande ; et
    </li>
    <li>le droit de déposer une plainte auprès du régulateur de la protection des données compétent si vous
      pensez que nous avons enfreint l'un de vos droits.
    </li>
    <li>le droit de nous fournir des instructions concernant le traitement de vos données personnelles après
      votre décès.
    </li>
  </ul>
  <p>9.2 Vous pouvez exercer vos droits en nous contactant aux coordonnées indiquées au paragraphe 10
    ci-dessous.
  </p>
  <h2>10. Questions et préoccupations</h2>
  <p>Si vous avez des questions ou des préoccupations concernant le traitement de vos données personnelles ou la
    présente politique, veuillez contacter notre délégué à la protection des données aux coordonnées suivantes
    :</p>
  <ul>
    <li>Adresse électronique : <a href="mailto:GDPR.Info@suntory.com">GDPR.Info@suntory.com</a></li>
  </ul>
  <p> Nous sommes généralement en mesure de résoudre rapidement et efficacement les questions ou préoccupations
    relatives à la protection de la vie privée. Si vous n'êtes pas satisfait de la réponse que vous recevez de
    notre  délégué à la protection des données, vous devez, en premier lieu, contacter votre organisme de
    réglementation local. En France par exemple, l'autorité compétente est la Commission Nationale de l'Informatique et des
    Libertés, 3 place de Fontenoy 75007 Paris France. Étant donné que nous avons des bureaux dans plusieurs pays européens, nous avons également enregistré une
    autorité de surveillance principale (SLA). En fonction de la nature de votre problème, l'affaire peut être
    soumise à notre ANS :Commission Nationale de l’Informatique et des Libertés (CNIL)
    3 place de Fontenoy 75007 Paris.</p>
</div>
