<table [dtOptions]="dtOptions" class="historique-table w-100 my-5 table table-striped table-bordered row-border hover"
       datatable>
  <thead>
  <tr>
    <th scope="col">Lot</th>
    <th scope="col">Date de gain</th>
    <th scope="col">Statut</th>
    <th scope="col">Date de retrait</th>
    <th scope="col">Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let item of jsonData">
    <td>{{item.playerName}}</td>
    <td>{{item.playerBirthday}}</td>
    <td>{{item.playerCountry}}</td>
    <td>{{item.playerClub}}</td>
    <td><a (click)="open(item)" class="btn btn-outline-primary">Reclamer</a></td>
  </tr>
  </tbody>
</table>

