// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

.register-page .bg-img-register {
  background-image: url('/assets/images/tea-cup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: calc((100vw - 250px) / 2);;
  min-height: 100%;
  padding: 10%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.form-container {
  margin: 0;
}

.auth-form-wrapper {
  padding: 0;
}

.login-rs.google {
  border-color: black !important;
}

.login-rs.facebook {
  border-color: blue !important;
}

.login-rs .fa-google{
  color: red !important;
}

.login-rs .fa-facebook{
  color: blue !important;
}

.register-page {
  padding: 3rem;
}

.register-page .form-control {
  height: 50px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .register-page {
    padding: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .auth-form-wrapper {
    padding: 3rem 5rem 0 5rem;
  }

  .form-container {
    margin-left: calc((100vw - 250px) / 2);
    width: calc((100vw - 250px) / 2);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .auth-form-wrapper {
    padding: 3rem 8rem 3rem 8rem;
  }
}

