// Cookies Card
.cc-window.cc-floating {
  max-width: 20em !important;
}

.cc-theme-classic .cc-btn:last-child {
  min-width: 100% !important;
}

.callhttp {
  position: absolute;
  top:0;
  z-index: 99999999;
}
