<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" class="bg-animated" [class.active]="isActivated==true">
    <div class="sidebar-header d-flex justify-content-center align-items-center">
      <img id="ttt-logo" src="../assets/images/ttt-logo.png">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/accueil" routerLinkActive="active" (click)="checkDisActivated()">Accueil</a>
      </li>
      <li>
        <a routerLink="/play" routerLinkActive="active" (click)="checkDisActivated()">Jouer</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active" (click)="checkDisActivated()">Profile</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" (click)="checkDisActivated()">A Propos</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" (click)="checkDisActivated()">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none">

      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" (click)="checkActivated()" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span class="ml-2">Menu</span>
        </button>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-user"></i>
        </button>

      </div>
    </nav>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>




