<div class="wrapper d-flex flex-wrap">

  <app-sidebar></app-sidebar>

  <!-- Page Content  -->
  <nav class="navbar w-100 navbar-expand-lg d-lg-none navbar-light bg-light mobile-navbar">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info" uk-toggle="target: #sidebar">
        <i class="fas fa-align-left"></i>
        <span class="ml-2">Menu</span>
      </button>
    </div>
  </nav>

  <div [@myAnimation]="o.isActivated ? o.activatedRoute : ''" id="content" class="relative">
    <router-outlet #o="outlet"></router-outlet>
  </div>
  <app-my-loader></app-my-loader>




</div>
