<div class="d-flex flex-wrap vh-100 px-md-0 row reset-password-page">
  <div class="d-none d-xl-block vh-100 bg-img-reset-password">
    <!--IMG-->
  </div>
  <div class="form-container col-12 col-xl-6 p-0 py-lg-5">
    <p class="text-center text-uppercase text-bold">Thé tip top</p>
    <h1 class="text-center text-lobster display-4">Réinitialiser<br> le mot de passe</h1>

    <div class="tutorial">
      <p>Veuillez fournir votre email. Si vous êtes inscrit,
        vous allez recevoir un nouveau mot de passe que vous allez utiliser pour vous connecter.
      </p>
    </div>

    <div class="auth-form-wrapper">

      <div *ngIf="errors?.email" class="alert alert-danger mt-3">
        {{ errors?.email }}
      </div>
      <div *ngIf="errors" class="alert alert-danger mt-3">
        {{ errors }}
      </div>
      <div *ngIf="success" class="alert alert-success mt-3">
        {{ success }}
      </div>

      <form class="form-signin forms-sample" [formGroup]="resetForm" (ngSubmit)="onSubmit()" >

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 formControlName="email"
                 class="form-control"
                 id="email"
                 placeholder="Saisissez votre email">
          <div *ngIf="isFormSubmitted && form.email.errors"
               class="invalid-feedback"
               [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}">
            <span *ngIf="form.email.status">Champs invalide</span>
            <span *ngIf="form.email.errors?.required"> | Requis</span>
          </div>
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-lipton btn-block rounded text-bold py-3 mr-2 mb-2 mb-md-0">Envoyer</button>
        </div>

      </form>


    </div>
  </div>
</div>





