// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap


.bg-img-reset-password {
  background-image: url('/assets/images/tea-with-lemon-and-honey.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc((100vw - 250px) / 2);;
  min-height: 100%;
  padding: 10%;
  position: fixed;
  top: 0;
  bottom: 0;
}

.tutorial {
  padding: 0;
}

.form-container {
  margin: 0;
}

.auth-form-wrapper {
  // padding: 2rem 1rem;
}

.reset-password-page {
  padding: 3rem;
}

.reset-password-page .form-control {
  height: 50px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .reset-password-page {
    padding: 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .auth-form-wrapper {
    padding: 2rem 8rem 0 8rem;
  }

  .tutorial {
    padding: 2rem 8rem 0 8rem;
  }

  .form-container {
    margin-left: calc((100vw - 250px) / 2);
    width: calc((100vw - 250px) / 2);
    // padding: 2rem 8rem 0 8rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

