<div class="modal-header">
  <h4 class="modal-title">Réclamation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Votre Lot "The Bio à base de citron" sera livré a cette addresse ? :  "<span class="text-bold text-underline">2 bis avenue Arsitide Briand, 92000</span>"</p>
  <a class="text-chocolate d-block mb-3" (click)=toggleDisplay()>Envoyer le lot à une autre addresse</a>
  <input [@inOutAnimation] *ngIf="isShowDivIf" class="form-control new-address" placeholder="Saisissez l'addresse de livraison">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Annuler</button>
  <button type="button" class="btn btn-lipton">Confirmer</button>
</div>
