<div class="modal-header">
  <h4 class="modal-title">Réclamation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="modal-body">
    <p>Votre Lot "Nom du lot 1" (id = {{id}}) sera livré à cette addresse :</p>
    <input [disabled]="!isShowDivIf" class="form-control new-address mb-2" placeholder="Marjorie Dubois">
    <input [disabled]="!isShowDivIf" class="form-control new-address mb-3" placeholder="24 rue des Soulliers, 75000, Paris">
    <a class="text-chocolate d-block mb-3" (click)=toggleDisplay()>Modifer l'addresse</a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Annuler</button>
    <button type="button" routerLink="/reclamer:{{id}}" class="btn btn-lipton">Confirmer</button>
  </div>
</form>
