<div class="d-flex home flex-wrap row vh-100">
  <div class="form-container col-12 col-xl-6 py-5 offset-1">

    <h1 class="text-lobster mb-5 display-3 title">Participer au jeu<br> de concours pour<br> gagner des lots</h1>
    <p class="mb-5 text-dark">Envie de gagner des cadeaux ?<br> Plus de 700 lot à gagner. <br>Tous les essaie sont gagnants !</p>
    <button class="btn btn-lipton py-3 btn-block btn-lg text-uppercase" type="submit">
      <a routerLink="/play">Jouer </a>
      <i class="fas ml-3 fa-arrow-right"></i>
    </button>

  </div>
</div>
