<div class="d-flex relative home p-page flex-wrap row">
  <div class="col-12 p-0 px-md-5">

    <h1 class="text-lobster mb-md-5 mb-4 display-3 title">Participer au jeu<br> concours pour gagner<br> de nombreux lots</h1>

    <p class="text-dark text-b-600 mb-4">
      Envie de gagner des cadeaux ?<br>
      Plus de 700 lots à gagner. <br>
      Tous les tickets sont gagnants !
    </p>

    <button (click)="redirect()" class="btn btn-lipton mb-4 py-3 btn-block btn-lg text-uppercase" type="submit">
      <a>Jouer </a>
      <i class="fas ml-3 fa-arrow-right"></i>
    </button>

    <p class="mb-2">
      <a (click)="open()" class="text-chocolate text-underline text-b-600">Comment jouer ?</a>
    </p>

    <p class="mb-0 text-b-600">
      <span>Le jeu concours se termine dans : </span>
    </p>

    <div class="countdown mt-3 d-flex">
      <div class="counter bg-chocolate text-white text-center mr-1 mr-md-4 raduis">
        <div>{{days}}</div>
        <div>jrs</div>
      </div>
      <div class="counter bg-chocolate text-white text-center mr-1 mr-md-4 raduis">
        <div>{{hours}}</div>
        <div>hrs</div>
      </div>
      <div class="counter bg-chocolate text-white text-center mr-1 mr-md-4 raduis">
        <div>{{minutes}}</div>
        <div>mins</div>
      </div>
      <div class="counter bg-chocolate text-white text-center mr-1 mr-md-4 raduis">
        <div>{{seconds}}</div>
        <div>secs</div>
      </div>
    </div>

  </div>
</div>
<div id="revealed-section-placeholder"></div>
<div class="copyright bg-primary px-5 d-flex align-items-center justify-content-end">
  <p class="mb-0 text-white">Ceci est un projet étudiant fictif pour lequel aucun réel achat ne pourrait pas être effectué. | Copyright&copy;  2021 ThéTipTop</p>
</div>

