<div class="d-flex flex-wrap row vh-100">

  <div class="form-container col-12 col-xl-6 py-5">
    <p class="text-center text-uppercase text-bold">Thé tip top</p>
    <h1 class="text-center text-lobster mb-0 display-4">Valider votre ticket</h1>

    <div class="play-form-wrapper">

      <form class="forms-sample">

        <div class="form-group">
          <label for="exampleInputEmail1">Numéro de ticket</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Saissisez un numéro de ticket">
        </div>

        <button type="submit" class="btn btn-chocolate w-100 py-3 mb-2 mt-4 mb-md-0">Valider</button>
      </form>

    </div>

  </div>
</div>