app-play{
  background: #d98300 !important;
}

#play-page{
  width: 100%;
}

.play-btn{
  background-color: chocolate;
}

#play-form{
  max-width: 50% ;
  padding: 3rem 8rem 0 8rem
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .play-page .form-container {
    margin: auto;
  }

  .play-form-wrapper {
    padding: 2rem 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

@media (max-width: 1199.98px) {
  .responsive-bg-img {
    background-image: url('/assets/images/asian-tea.jpg');
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 3rem;
    border: none;
    border-radius: 0;
    height: 250px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .form-container {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 3rem;
    border-radius: 5rem 5rem 0 0;
    border: 2px solid #eaeaea85;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .auth-form-wrapper {
    width: 75%;
  }

  .form-container {
    background: #fff;
    min-height: 400px;
    max-width: 500px;
    margin: auto;
    padding: 3rem;
  }


}

