<div class="d-flex flex-wrap row vh-100 play-page">
  <div class="responsive-bg-img">
    <!---->
  </div>
  <div class="form-container bg-white col-12 col-xl-6">

    <p class="text-center text-uppercase text-bold">Thé tip top</p>
    <h1 class="text-center text-lobster display-4">Valider votre ticket</h1>

    <div class="play-form-wrapper">

      <div *ngIf="errors" class="alert alert-danger mt-3">
        {{ errors }}
      </div>

      <form [formGroup]="playForm" (click)="onSubmit()" class="forms-sample">
        <div class="form-group">
          <label for="numberTicket">Numéro de ticket</label>
          <input class="form-control"
                 formControlName="numberTicket"
                 id="numberTicket"
                 placeholder="Saissisez un numéro de ticket"
                 type="text">

          <div *ngIf="isFormSubmitted && form.numberTicket.errors"
               class="invalid-feedback"
               [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}">
            <span *ngIf="form.numberTicket.status">Champs invalide</span>
            <span *ngIf="form.numberTicket.errors?.required"> | Requis</span>
          </div>

        </div>
        <button class="btn btn-lipton btn-block btn-lg" type="submit">Valider</button>
      </form>
      <div class="d-flex flex-column flex-xl-row justify-content-xl-between mt-3">
        <p class="mb-0"><a (click)="open2()" class="text-chocolate text-underline text-b-600">Comment jouer ?</a></p>
        <p class=""><a routerLink="/profil/historique" class="text-chocolate text-underline text-b-600">Mes gains</a></p>
      </div>
    </div>
  </div>

</div>
