app-play{
    background: #d98300 !important;
  }
#play-page{
    width: 100%;
}
.form-container {
    background: #fff;
    height: 80%;
    min-height: 400px;
    max-height: 500px;
    margin: auto;
    // margin-right: auto;
    max-width: 450px;
  }

.play-btn{
    background-color: chocolate;
}

.play-form-wrapper {
    padding: 2rem 1rem;
  }
  
#play-form{
    max-width: 50% ;
    padding: 3rem 8rem 0rem 8rem
}