/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #265D0C,
  "danger": #ff4136
);

$border-radius: 2.5rem;


.bg-animated {
  background: linear-gradient(-45deg, #d06900, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body {
  font-family: 'Montserrat', sans-serif !important;
}


@import "../node_modules/bootstrap/scss/bootstrap";

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
