/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #265D0C,
  "lipton": #d98300,
  "chocolate": #683C11,
  "white": #fff
);

$enable-responsive-font-sizes: true;

$chocolate: #683C11;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css";
@import "https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css";

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
  background: #fafafa;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

p, ul li {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #3F3844;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.60rem;
}

.w-47 {
  width: 47% !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.text-lobster {
  font-family: 'Lobster Two', cursive, 'Montserrat', sans-serif !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-underline {
  text-decoration: underline !important;
}

.p-page {
  padding: 3rem !important;
}

.form-control {
  height: 50px;
}

#DataTables_Table_0_wrapper {
  overflow-x: scroll !important;
}

table.dataTable {
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

.table {
  th,
  td {
    vertical-align: middle;
  }
}

.table th, .table td {
  vertical-align: middle;
}

.page-title {
  font-weight: 800 !important;
  letter-spacing: 3px;
}

.page-title__ligne {
  height: 5px;
  background: $chocolate;
  border: 0;
  width: 90px;
}

.form-check .invalid-feedback {
  display: block;
}

app-play{
  background-position-x: 20rem !important;
  background-size: cover !important;
  background: #f5f6f8 url('/assets/images/asian-tea.jpg') no-repeat;
}

.home{
  background-position-x: right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(90deg, rgba(255,255,255,0.88) 20%, rgba(0,0,0,0.2) 70%),url('/assets/images/mango-bg.jpg');
}

// Popover "Veuillez-vous connecter"
#ngb-popover-0 {
  position: fixed !important;
}

.page-item.active .page-link {
  z-index: 0
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #DataTables_Table_0_wrapper {
    overflow-x: hidden !important;
  }

  .modal {
    left: 220px !important;
    width: calc(100% - 220px) !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #DataTables_Table_0_wrapper {
    overflow-x: hidden !important;
  }

  .modal {
    left: 250px !important;
    width: calc(100% - 250px) !important;
  }

  .p-page {
    padding: 3rem 5rem 3rem 5rem !important;
  }
}
