// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }

  /*#content {
    min-width: 83vw;
  }*/

  #content {
    min-height: 100vh;
    background: #f9fafb;
    width: calc(100% - 250px);
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    transition: margin .1s ease,width .1s ease;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
