<div class="row gutters-sm">

  <div class="col-md-12">
    <div class="card bg-light">
      <div class="card-body">

        <div id="security">
          <h6 class="text-uppercase">Paramètre de sécurité</h6>
          <hr>
          <form>
            <div class="form-group">
              <label class="d-block">Changer le mot de passe</label>
              <input class="form-control" placeholder="Votre ancien mot de passe" type="text">
              <input class="form-control mt-2" placeholder="Nouveau mot de passe" type="text">
              <input class="form-control mt-2" placeholder="Confirmer le nouveau mot de passe" type="text">
            </div>
          </form>
          <hr>
          <button class="btn btn-primary px-3 py-2">Modifier</button>
        </div>

      </div>
    </div>
  </div>
</div>
