<nav id="sidebar" class="bg-primary vh-100" uk-offcanvas>
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div class="sidebar-header d-flex justify-content-center align-items-center">
      <img id="ttt-logo" src="../assets/images/ttt-logo.png">
    </div>
    <ul class="list-unstyled components">
      <li>
        <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
      </li>
      <li>
        <a routerLink="/play" routerLinkActive="active">Jouer</a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">A Propos</a>
      </li>
    </ul>

  </div>
</nav>
