#sidebar {
  min-width: 250px;
  position: fixed;

  a {
    color: #f5f6f8;
  }

  a:hover {
    text-decoration: none !important;
  }

  ul {
    text-align: center;
  }
}

#sidebar .sidebar-header {
  padding: 0 20px;
}

#ttt-logo {
  width: 150px;
}

#sidebar ul.components {
  padding: 20px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li > a.active,
#sidebar ul li ul li > a.active {
  color: #fff;
  background: #ffffff24;
}

.uk-offcanvas-bar {
  background: none;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.uk-offcanvas-bar a {
  color : initial;
}

// ------------------------------------------------
.profile-menu-wrapper {
  flex-grow : 1;
  display: flex;
  justify-content: end;
  align-items: end;
  .wrapper {
    width: 100%;
    height: auto;
    transition: background .6s ease;
    padding: 20px 20px 20px 20px;

    .profile {
      margin-top: 1em;
      position: relative;

      .thumbnail {
        width: 100px;
        height: 100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        border-radius: 100%;
      }

      .name {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
      }


      .btn {
        color: #fff;
        width: 130px;
        height: 42px;
        outline: none;
        border: none;
        display: block;
        cursor: pointer;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        border-radius: 70px;
        // background: $purple-gradient;
      }
    }

    .profile-icons {
      display: flex;
      margin-top: 1.2em;
      justify-content: space-between;

      .icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 30%;


        a {
          color: #fff;
          width: 45px;
          height: 45px;
          font-size: 20px;
          line-height: 60px;
          text-align: center;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

        }

        // &:nth-of-type(1) {
        //   a {
        //     // background: $purple-gradient;
        //   }
        // }

        // &:nth-of-type(2) {
        //   a {
        //     // background: $blue1-gradient;
        //   }
        // }

        // &:nth-of-type(3) {
        //   a {
        //     // background: $blue2-gradient;
        //   }
        // }

        h4 {
          color: #080911;
          font-size: 1em;
          margin-top: 1.3em;
          margin-bottom: .2em;
        }

        p {
          color: #FFF;
          font-size: 10px;
          margin-top: 10px;
        }
      }

      .icon:first-of-type, .icon:last-of-type {
        position: relative;
      //  bottom: 2rem;
      }
    }
  }

}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .uk-offcanvas-close {
    display: none;
  }

  #sidebar {
    min-width: 250px;
    bottom: 0;
    // width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: width .1s ease, margin .1s ease-out;
    z-index: 999;
  }

  .uk-offcanvas {
    display: block;
    position: initial;
  }

  .uk-offcanvas-bar {
    position: initial;
    height: 100%;
    width: 100%;
    padding: 0;
    background: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}


