<nav class="bg-primary vh-100" id="sidebar" uk-offcanvas>
  <div class="uk-offcanvas-bar px-2">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div class="sidebar-header d-flex justify-content-center align-items-center">
      <a routerLink="/accueil"><img id="ttt-logo" src="../assets/images/logo-white.png"></a>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/accueil"
           class=""
           routerLinkActive="active">
          Accueil
        </a>
      </li>
      <li>
        <a routerLink="/play"
           placement="right"
           [className]="isSignedIn ? null : 'text-muted'"
           [ngbPopover]="isSignedIn ? null : 'Veuillez vous identifier'"
           routerLinkActive="active">
          Jouer
        </a>
      </li>
      <li>
        <a routerLink="/profile"
           placement="right"
           [ngbPopover]="isSignedIn ? null : 'Veuillez vous identifier'"
           [className]="isSignedIn ? null : 'text-muted'"
           routerLinkActive="active">
          Profil
        </a>
      </li>
      <li>
        <a routerLink="/about"
           class="/profile"
           routerLinkActive="active">
          A Propos
        </a>
      </li>
    </ul>

    <div class="profile-menu-wrapper">
      <div class="wrapper">
        <div class="d-none profile">
          <div routerLink="/profile">
            <div class="thumbnail bg-lipton justify-content-center align-items-center">
              <i class="far fa-user h2"></i>
            </div>
          </div>
        </div>

        <div class="profile-icons">

          <div *ngIf="!isSignedIn" class="icon mb-2">
            <a class="btn btn-block rounded btn-primary" routerLink="/register">
              S'inscrire
              <i class="fas fa-user-plus ml-2"></i>
            </a>
          </div>

          <div *ngIf="!isSignedIn" class="icon mb-2">
            <a class="btn btn-block rounded btn-primary" routerLink="/login">
              S'identifier
              <i class="fas fa-sign-in-alt ml-2"></i>
            </a>
          </div>

          <!--<div class="icon">
            <a class="btn btn-block btn-lipton"
               routerLink="/play">
              <i class="fas fa-gamepad"></i>
            </a>
          </div>-->

          <!--<div *ngIf="isSignedIn" class="icon">
            <a class="btn btn-block btn-lipton"
               routerLink="/profile">
              <i class="fas fa-user-circle"></i>
            </a>
          </div>-->

          <div *ngIf="isSignedIn" class="icon">
            <a class="btn btn-block rounded btn-primary"
               (click)="onLogout($event)">
              Se déconnecter
              <i class="fas fa-power-off ml-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
