<div class="modal-header">
  <h4 class="modal-title">Inscription à la newsletter</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div>
      <div class="form-group">
        <label for="fullName">Nom et Prénom</label>
        <input aria-describedby="fullNameHelp"
               formControlName="name"
               class="form-control"
               id="fullName"
               placeholder="Nom et Prénom"
               type="text">
        <div *ngIf="isFormSubmitted && form.name.errors"
             [ngStyle]="{'display': isFormSubmitted ? 'block' : 'none'}"
             class="invalid-feedback">
          <span *ngIf="form.name.status">Champ invalide</span>
          <span *ngIf="form.name.errors?.required"> | Requis</span>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [ngClass]="{'is-invalid': isFormSubmitted && form.email.errors}"
               class="form-control"
               formControlName="email"
               id="email"
               placeholder="Email"
               type="email">
        <div *ngIf="isFormSubmitted && form.email.errors" class="invalid-feedback">
          <span *ngIf="form.email.status">Champ invalide</span>
          <span *ngIf="form.email.errors?.required"> | Requis</span>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button (click)="activeModal.close('Close click')" class="btn btn-outline-dark" type="button">Annuler</button>
    <button class="btn btn-lipton" type="submit">Confirmer</button>
  </div>
</form>

