<div class="rules p-page">
  <div class="d-flex flex-column flex-xl-row flex-wrap mb-5">
    <div>
      <h1 class="text-uppercase page-title text-chocolate mb-0">Règlement du jeu</h1>
    </div>
    <div class="d-flex ml-xl-4 align-content-center justify-content-center">
      <hr class="page-title__ligne mr-auto m-xl-auto">
    </div>
  </div>

  <p>
    <b class="mb-0 text-lipton">Ceci est un projet étudiant fictif pour lequel aucun réel achat ou aucune réservation ne
      pourrait être effectué.</b>
  </p>

  <p>Le présent document constitue le règlement du jeu de concours accessible sous
    l’adresse « <a class="text-link" href="https://dsp-archiwebo20-mt-ma-ca-fd.fr/"
      target="_blank">https://dsp-archiwebo20-mt-ma-ca-fd.fr</a> » (ci-après le «Site»).
  </p>
  <h2>1. Qui peut participer ?</h2>
  <p>Tous les clients de moins 18 ans ou ayant la permission des leur parents ou d'un répresentant légal, qui detient
    un ticket de caisse ou une facture supérieure à 49€ retrouveront sur ces derniers un
    numéro à 10 chiffres permettant une participation au jeu de concours.
  </p>

  <h2>2. Quand puis-je participer ?</h2>
  <p>Le jeu concours aura lieu sur une période de 30 jours durant lesquels les tickets pourront
    être distribués. Les joueurs auront 30 jours à compter de la date de clôture du jeu pour aller sur le site
    internet et tester le numéro de leur(s) ticket(s) ainsi que réclamer leur lot en magasin ou en ligne.</p>

  <h2>3. Que pourrais-je gagner ? </h2>
  <p>
    1 500 000 tickets sont disponiblest et toutes seront gagnants, voici la répartition des gains:
  </p>
  <ul>
    <li>60% des tickets offrent un infuseur à thé</li>
    <li>20% des tickets offrent une boite de 100g d’un thé détox ou d’infusion</li>
    <li>10% des tickets offrent une boite de 100g d’un thé signature</li>
    <li>6% des tickets offrent un coffret découverte d’une valeur de 39€</li>
    <li>4% des tickets offrent un coffret découverte d’une valeur de 69€</li>
  </ul>
  <p>
    À l’issue du jeu-concours, un tirage au sort sera effectué parmi tous les participants afin de déterminer
    <b>le gagnant d’un an de thé d’une valeur de 360€</b>.
  </p>
  <p>
    <b>Attention:</b> Pour le tirage au sort du gros lot, le nombre de participations d’un client n'augmente pas ses
    chances de gagner.
    Tous les tickets du jeu-concours étant gagnant sur les lots intermédiaires plus un client joue plus il gagne.
  </p>

</div>